<?php

/** @var Mage_Page_Block_Html_Topmenu_Renderer $this */
/** @var Varien_Data_Tree_Node $menuTree */
/** @var string $childrenWrapClass */

$html = '';

$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach($children as $child ) {
  $child->setLevel($childLevel);
  $child->setIsFirst($counter == 1);
  $child->setIsLast($counter == $childrenCount);
  $child->setPositionClass($itemPositionClassPrefix . $counter);

  $outermostClassCode = 'level'. $childLevel;
  $_hasChildren = ($child->hasChildren()) ? 'has-children' : '';

  $html .= '<li '. $this->_getRenderedMenuItemAttributes($child) .'>';

  $categId = str_replace('category-node-', '', $child->getId());
  $html .= '<a href="'. $child->getUrl() .'" class="categ-'.$categId.' '.$outermostClassCode .' '. $_hasChildren .' ">'. $this->escapeHtml($this->__($child->getName())) .'</a>';

  if (!empty($childrenWrapClass)) {
    $html .= '<div class="'. $childrenWrapClass .'">';
  }

  $nextChildLevel = $childLevel + 1;

  if (!empty($_hasChildren)) {
    $html .= '<ul class="level'. $childLevel .'">';
    $html .=   '<li class="level'. $nextChildLevel .' view-all">';
    $html .=     '<a class="level'. $nextChildLevel .'" href="'. $child->getUrl() .'">';
    $html .=        $this->__('All') . ' ' . $this->escapeHtml($this->__($child->getName()));
    $html .=     '</a>';
    $html .=   '</li>';
    $html .=   $this->render($child, $childrenWrapClass);
    $html .= '</ul>';
  }

  if (!empty($childrenWrapClass)) {
    $html .= '</div>';
  }

  $html .= '</li>';

  $counter++;
}

return $html;

