<?php

	$poweredByCustom = $this->getLayout()->createBlock('cms/block')->setBlockId('powered_by_ebuynow')->toHtml();

?>
<div class="poweredby-ebuynow">

	<a rel="nofollow" href="#0" class="powered-by-toggle hidden-xs hidden-sm" onclick="togglePoweredBy(event)">
		<?= $this->__('Powered by'); ?>&nbsp;<img width="50px" src="<?= $this->getSkinUrl('images/ebuynow.svg'); ?>" alt="eBuyNow"/>
	</a>
	<div id="powered-by" class="desktop">
		<a class="close-powered-by" href="#0" onclick="togglePoweredBy(event)">
			<svg width="25px" height="25px" viewBox="0 0 48 48">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					<g id="close" sketch:type="MSArtboardGroup" fill="#fff">
						<path d="M25.38966,23.23924 L41.03502,7.5954 C41.62782,7.00108 41.62782,6.03892 41.03502,5.4446 C40.44222,4.8518 39.47854,4.8518 38.88574,5.4446 L23.24038,21.08996 L7.59502,5.4446 C7.00222,4.8518 6.03854,4.8518 5.44574,5.4446 C4.85142,6.03892 4.85142,7.00108 5.44574,7.5954 L21.0911,23.23924 L5.44574,38.8846 C4.85142,39.47892 4.85142,40.44108 5.44574,41.0354 C6.03854,41.6282 7.0007,41.62972 7.59502,41.0354 L23.24038,25.39004 L38.88574,41.0354 C39.47854,41.6282 40.4407,41.62972 41.03502,41.0354 C41.62782,40.4426 41.62934,39.47892 41.03502,38.8846 L25.38966,23.23924" id="Close" sketch:type="MSShapeGroup"></path>
					</g>
				</g>
			</svg>
		</a>

		<?php if( ! empty($poweredByCustom) ) : ?>
			<?= $poweredByCustom; ?>
		<?php else : ?>
			<div class="powered-by-content">
				<div class="powered-by-title"><?= $this->__("What does the Powered by eBuyNow badge mean?"); ?></div>
				<div class="powered-by-main">
					<p><?= $this->__("eBuyNow eCommerce Ltd. ensures global sales and support for the products found on this site. <br/>eBuyNow manages the site, the server, and its transactions on behalf of the manufacturer.");?></p>
					<p><?= $this->__('Links to this site’s privacy policy and terms of use can be found below. Questions for eBuyNow regarding the relationship between these parties can be sent to <a href="mailto:info@ebuynow.com">info@ebuynow.com</a>.');?></p>
					<p><?= $this->__("For website or product support, please visit the help section.");?></p>
				</div>
				<ul class="list-unstyled powered-by-links">
					<li><a href="<?= $this->getUrl('terms'); ?>"><?= $this->__("Terms of Service");?></a></li>
					<li><a href="<?= $this->getUrl('privacy-policy'); ?>"><?= $this->__("Privacy Policy");?></a></li>
					<li><a href="<?= $this->getUrl('returns-policy'); ?>">Return Policy</a></li>
					<li><a href="<?= $this->getUrl('support.html') ?>" ><?= $this->__("Website & Product Support");?></a></li>
					<li><a href="https://ebuynow.com" target="_blank"><?= $this->__("Visit eBuyNow.com");?></a></li>
				</ul>
			</div>
		<?php endif; ?>
	</div><?php // #powered-by.desktop ?>

</div>
<script type="text/javascript">
	function togglePoweredBy(ev) {
		ev.preventDefault();
		var p = jQuery('#powered-by');

		if( ! p.hasClass('in') ) {
			p.addClass('in');
			jQuery('body').addClass('powered-by-in');
			jQuery('body > .outer-wrap').addClass('in');
			jQuery('#powered-by-overlay').addClass('in');
			jQuery('.powered-by-toggle').addClass('in');
		} else {
			p.removeClass('in');
			jQuery('body').removeClass('powered-by-in');
			jQuery('body > .outer-wrap').removeClass('in');
			jQuery('#powered-by-overlay').removeClass('in');
			jQuery('.powered-by-toggle').removeClass('in')
		}
	}
</script>

