

@import "bootstrap";
@import "fontawesome";

@import "overrides";


& when (@mainFont = opensans) {
  @import "fonts/opensans";
  body,
  .checkout-onepage-index { font-family: OpenSans, sans-serif; }
}

& when (@mainFont = gotham) {
  @import "fonts/gotham";
  body,
  .checkout-onepage-index { font-family: Gotham, sans-serif; }
}


/* -------------------------------------------------- */
/* !- Customize */

@containerMax: 1200px;

@screen-lg: 1000px;
@screen-lg-min: 1001px;
@screen-md: 750px;
@screen-md-min: 751px;
@screen-sm: 500px;
@screen-sm-min: 501px;


@pathToFonts: "../fonts/";

@colorMain: #1CA9E1;
@colorAlt: #333;

@logoWidth: 180px;
@logoRatio: 40%;

@gridGutter: 30px;
@gridGutterHalf: (@gridGutter/2);
@grid-gutter-width: @gridGutter;

@font-size-base:          14px;
@fontSizeMd: @font-size-base;
@fontSizeXL:              ceil((@font-size-base * 1.5));
@font-size-large:         ceil((@font-size-base * 1.25));
@fontSizeLg: @font-size-large;
@font-size-small:         ceil((@font-size-base * 0.85));
@fontSizeSm: @font-size-small;
@fontSizeXS:              ceil((@font-size-base * 0.7));
@font-size-lead: @font-size-large;

@headings-font-weight: bold;
@font-size-h1: 2.75rem;
@font-size-h2: 2.25rem;
@font-size-h3: 1.9rem;

@input-border: rgba(0,0,0, 0.15);
@input-border-focus: rgba(0,0,0, 0.25);

@border-radius-base: 3px;

@pagination-active-bg: @pagination-hover-bg;
@pagination-active-color: @pagination-hover-bg;
@pagination-active-border: @pagination-hover-border;

@mobileMenuBg: #2B3D46;
@mobileMenuColor: #fff;
@mobileHeaderHeight: 60px;

// UI Settings
@showBreadcrumbs: true;
@productListLargeCols: 4;
@productListShowToolbarTop: true;
@productListShowToolbarBottom: true;
@productListShowPrice: true;
@productViewShowPrice: true;
@productViewGalleryHeightRatio: 100%;

.translate (@x, @y) {
  transform: translate(@x, @y);
}

.marginH (@margin) { margin-left: @margin; margin-right: @margin; }
.marginV (@margin) { margin-top: @margin; margin-bottom: @margin; }
.paddingH (@padding) { padding-left: @padding; padding-right: @padding; }
.paddingV (@padding) { padding-top: @padding; padding-bottom: @padding; }



@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulsePlus {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
