
html { background-color: @body-bg; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
body { background-color: transparent; font-family: inherit; }
body::before { content: ""; display: block; width: 0; height: 100vh; border-left: 1px dashed red; opacity: 0;
pointer-events: none; position: fixed; z-index: 9999; top: 0; left: 50%; }

.contain(){ display: block; width: auto; max-width: @containerMax; padding: 0 @gridGutterHalf; margin-left: auto; margin-right: auto; }
.container { width: 100%; max-width: @containerMax; position: relative; }
.breakContainer { position: relative; left: 50%; width: 100vw; transform: translate(-50%, 0); }

.page-header { padding: 0; margin: 0; border: none; }

*:last-child { margin-bottom: 0; }
.std *:last-child { margin-bottom: 0; }
*:first-child { margin-top: 0; }

img { max-width: 100%; height: auto !important; }
label { margin-bottom: 2px; font-weight: normal; cursor: pointer; }

ol,
ul { padding-left: 1em; }

.nobr { white-space: nowrap; }

.skip-link {}
.skip-content {
  &:not(.skip-active) { display: none; }
}

span.free { font-weight: bold; text-transform: uppercase; color: @brand-success; }

.b-lazy:not(.b-loaded) { background-image: url(../images/loading.svg) !important; background-size:40px !important; background-position: center center !important; background-repeat: no-repeat !important; }

.links {
  ul { &:extend(.list-unstyled); margin: 0; }
  li a { display: block; padding: .1em .2em; }
}

.data-table {
  th.label { color: inherit; font-size: 1em; display: initial; white-space: normal; border-radius: 0; }
}

p.required { display: none; color: @brand-danger; font-size: @font-size-small; }
label.required {
  position: relative; padding-right: .5em;
  em { position: absolute; left: 100%; font-style: normal; color: @brand-danger; }
}

.old-price {
  font-size:10px; line-height:1; font-weight: normal;
  .price { text-decoration:line-through; color:#cb0000; font-size: 1em !important; font-weight: inherit; }
}

.form-instructions { opacity: .9em; font-size: @font-size-small; }
.form-list {
  &:extend(.list-unstyled);
  > * { padding-bottom: 5px; }
  label { font-size: @font-size-small; }
  .fields {
    display: flex; justify-content: space-around; margin: 0 -5px;
    > * { flex: 1 1 100%; padding: 0 5px; }
  }
}

.form-control {
  height: auto; padding: 0 .3em; font-size: 1em; line-height: 2; box-shadow: none;
  &:focus { box-shadow: none; }
}

input.radio,
input.checkbox { display: inline-block; }

select { .form-control; cursor: pointer; padding-right: 1em; -moz-appearance: none; -webkit-appearance: none; }
.select-wrap {
  position: relative;
  &::after { content: ""; position: absolute; right: 0; top: 50%; transform: translate(-50%, -25%); border: 4px solid transparent; border-top-color: @input-border; }
  select { padding-right: 20px; background-image: none !important; }
}

.input-box {
  .input-text { width: 100% !important; }
}
.input-text {
  .form-control;
  &.validation-failed { border-color: @brand-danger; }
}
.control {
  display: flex; padding: .5em 0;
  .input-box input.checkbox { margin-top: 4px !important; }
  label { margin: 0; padding: 0 4px; }
}

.btn {
  font-size: 1em; padding: .5em 1.5em; line-height: 1.2;
  &:focus { outline: none !important; }
}
.button,
.button2 { &:extend(.btn); }

.btn-default {
  &:hover { text-decoration: none; background-color: darken(@btn-primary-bg,10%); color: @btn-primary-color; border-color: transparent; }
}

.button {
  &:extend(.btn-primary);
  &:hover { text-decoration: none; background-color: darken(@btn-primary-bg,10%); color: @btn-primary-color; border-color: transparent; }
}
.button2 {
  &:extend(.btn-default);
  &:hover { text-decoration: none; background-color: darken(@btn-primary-bg,10%); color: @btn-primary-color; border-color: transparent; }
}

.buttons-set {
  position:relative; padding-bottom: @font-size-base * 3;
  .back-link { position: absolute; bottom: 0; left: 0; display: block; white-space: nowrap; font-size: @font-size-small; }
}


.messages {
  list-style: none; padding: 0; margin: 0; font-size: 1.1rem;
  > li {
    padding: .75em 1em .675em; border-radius: 2px; font-size: 1em;
    &.success-msg { background-color: @brand-success; color: #fff; }
    &.error-msg { background-color: @brand-danger; color: #fff; }

    &:first-child { margin-top: 4px; }
    &:last-child { margin-bottom: 2rem; }
  }
  > li + li { margin-top: 3px; }
  > li ul {
    list-style: none; padding: 0; margin: 0; color: inherit; font-size: 1em;
    li { color: inherit; font-size: 1em; }
  }
}

.global-messages {
  .messages {
    > li > ul { &:extend(.container); }
  }
}

.global-site-notice.noscript {
  position: fixed; z-index: 9999; top: 0; left: 0; bottom: 0; right: 0; background-color: fade(#000,70);
  display: flex; align-items: center;
  > div { font-size: @font-size-base; width: 90vw; max-width: 425px; margin: 0 auto; padding: 2rem; border-radius: 3px; background-color: #fff; }
  p { margin: 0; font-size: 1em; font-weight: normal; text-align: center; }
  strong { font-size: 1.2em; font-weight: bold; color: @brand-danger; }
}


.std {
  p { margin-bottom: 1.5em; }
  ul,ol { margin-bottom: 1.5em; }
  li { margin-bottom: .8em; }
}
.fineprint { font-size: @fontSizeXS; color: @gray-light; }


[data-reveal] {
  margin-bottom: @gridGutter;
  .reveal-toggle {
    color: inherit; border-bottom: 1px solid fade(#000,20%); margin-bottom: .5em;
    span { display: inline-block; padding: .4em; padding-right: 1em; .faAfter(angle-down); }
    span::after { padding-left: .4em; }
    &:hover { cursor: pointer; color: @link-hover-color; }
  }
  .reveal-content {
    height: 0; overflow: hidden; padding: 0 !important;
  }
  &.js-open {
    .reveal-content { height: auto; }
  }
}

.a-right { text-align: right; }
.a-center { text-align: center; }



.modal-open { overflow:hidden; }
.modal { position:fixed; top:0; right:0; bottom:0; left:0; z-index:1050; padding: 1.5rem; overflow:hidden; outline:0; background-color:rgba(34,44,48,.75); opacity:0; pointer-events:none; }
.modal-open .modal { overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling: touch; }
.modal.show { opacity:1; pointer-events:auto; }
.modal-dialog { position:relative; display:flex; align-items:center; min-height:100%; width:100%; margin:0 auto; max-width: 750px; transition:transform 300ms ease-out; transform:translate(0, -25vh); will-change: transform; }
.modal-dialog.modal-sm { max-width:300px; }
.modal.show .modal-dialog { transform:translate(0, 0); }
.modal-content { position:relative; display:flex; flex-direction:column; width:100%; background-color:#fff; color:#444; background-clip:padding-box; border-radius:3px; outline:0; padding:3rem; }
.modal-header { display:flex; align-items:center; justify-content:space-between; padding:0; }
.modal-header .close { order:2; padding:0; margin:0 0 0 3rem; border:none; line-height:0; opacity:.6; background-color:transparent; }
.modal-header .close:focus,
.modal-header .close:active,
.modal-header .close:hover { opacity:1; }
.modal-title { order:1; margin-bottom:0; font-size:2rem; }
.modal-body { position:relative; flex:1 1 auto; padding:1rem 0; }
.modal-footer { display:flex; align-items:center; justify-content:flex-end; padding:1rem; border-top:1px solid #e9ecef; }
.modal-footer > :not(:first-child) { margin-left:.25rem; }
.modal-footer > :not(:last-child) { margin-right:.25rem; }




/* -------------------------------------------------- */
/* !- UI Tweaks */
& when (@showBreadcrumbs = false) {
  .breadcrumbs { display: none; }
}
& when (@productListShowPrice = false) {
  .products-grid .price-box { display: none; }
}
& when (@productListShowToolbarTop = false) {
  .toolbar-top { display: none; }
}
& when (@productListShowToolbarBottom = false) {
  .toolbar-bottom { display: none; }
}
& when (@productViewShowPrice = false) {
  .product-view .product-shop .price-info { display:none; }
}

/* -------------------------------------------------- */
/* !- All Pages */

.wrapper { overflow: hidden; background-color: transparent; }


.page {
  display: flex; flex-direction: column; min-height: 100vh;
  > * { width: 100%; }
  .page-header { flex-grow: 0; }
  .main-container { flex-grow: 1; }
  .footer-container { flex-grow: 0; }
}

.logo {
  display: block; position: relative; z-index: 0; width: @logoWidth; padding: 6px 0;
  .logo-img {
    display: block; background-position: left center; background-repeat: no-repeat; background-size: contain;
    &::before { content: ""; display: block; padding-bottom: @logoRatio; }
  }
  &:hover { opacity: 1; }
}

.topbar {
  display: flex; justify-content: space-between;
  > * { flex: 0 0 auto; }
}


/* -------------------------------------------------- */
/* !- Root template page-empty.phtml */
.page-empty {
  .main.container { padding-top: @gridGutter; }
}



/* -------------------------------------------------- */
/* !- Mobile Off Canvas Menu */
body::after { content: ""; display: block; top: 0; left: 0; bottom: 0; width: 100vw; position: absolute; z-index: 90; background-color: rgba(0,0,0,.2); opacity: 0; pointer-events: none; transition: opacity 100ms ease; }
.mobilemenu {
  display: none; color: @mobileMenuColor; background-color: @mobileMenuBg; position: fixed; z-index: 99; top: @mobileHeaderHeight; left: 0; bottom: 0; width: 100%; max-width: 400px; padding: @gridGutterHalf 0 @gridGutter;
  transform: translate(-100%,0); transform: translate3d(-100%,0,0); will-change: transform; transition: all 300ms cubic-bezier(0, 0.9, 0.3, 1);
  .mobilemenu-content { font-size: @font-size-large; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; }

  .mobilemenu-categs {
    ul,ol { .list-unstyled; }
    li {}
    a { display: block; position: relative; color: inherit; text-decoration: none; padding: .6em 1em; padding-right: 2em; }
    a:focus,
    a:active { background-color: fade(@colorMain, 90%); }
    li.level0 { border-bottom: 1px solid fade(#000, 20%); }
    li.level0 > a { .faAfter(angle-right); }
    li.level0 > a::after { font-size: 14px; position: absolute; top: 50%; right:0; transform:translate(0%, -50%); padding: 0 1em; pointer-events: none; }
    li.level0 ul {
      padding-left: 1em;
      a { font-size: @font-size-small; padding: .4em .2em; padding-right: 1em; }
    }
    li.level0 > ul { padding-bottom: 1em; }
  }
}
.mobilemenu-toggle {
  display: none; position: fixed; z-index: 9999; left: 15px; top: 30px; transform: translate(0,-50%); width: 30px; padding: 14px 0; cursor: pointer;
  &::after,
  &::before,
  span { content: ""; display: block; width: 100%; height: 2px; background-color: #777; border-radius: 2px; will-change: transform; transition: transform 100ms ease-out; }
  &::before { position: absolute; left: 0; bottom: 50%; transform: translate(0,-6px); }
  &::after { position: absolute; left: 0; top: 50%; transform: translate(0,6px); }

  .page-header & { position: absolute; top: 50%; }
}
html.offCanvasOpen {
  body::after { opacity: 1; }
  .mobilemenu { transform: translateX(0); }
  .mobilemenu-toggle {
    span { transform: translate(-200%,0); }
    &::before { transform: translate(0,1px) rotate(45deg) }
    &::after { transform: translate(0,-1px) rotate(-45deg) }
  }
}




.page-header {
  padding: 0 10px; border: none; max-width: none; min-height: 0; padding-bottom: 0; position: relative; z-index: 100; background-color: #fff;

  .clearfix;

  .page-header-container {
    display: flex; align-items: center;
    > * { flex: 1; }
    .logo { flex: 0 0 auto; }
    .top-menu { padding-left: @gridGutter; }
    .header-right { flex: 0 0 auto; display: flex; }
  }

  .header-language-background { display: none; }

  .top-menu ol {
    display: flex; list-style: none; margin: 0; padding: 0;
    li { position: relative; margin: 0; padding: 0; }
    li li + li { border-top: 1px solid fade(#000,5%); }
    a { display: block; color: inherit; padding: .6em 1.2em; }
    a:focus,
    a:active,
    a:hover { color: @colorMain; text-decoration: none; }

    ul { opacity: 0; pointer-events: none; }
    .js-on > ul { opacity: 1; pointer-events: auto; }

    li.level0 {
      &.parent::after { content: ""; border: 5px solid transparent; border-top-color: fade(#000,10%); position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 50%); }
      &.parent.js-on::after { transform: rotate(180deg) translate(50%, 0); }
      &.parent.js-on::before { content: ""; border: 4px solid transparent; border-top-color: #fff; position: absolute; z-index: 3; bottom: 0; left: 50%; transform: rotate(180deg) translate(50%,0); }
      ul { list-style: none; padding: @border-radius-base + 1 0; margin: 0; line-height: 1.2; width: 15vw; min-width: 10em; max-width: 15em;
        position: absolute; z-index: 1; left: 100%; top: 0%; transform: translate(-15px, -3px); background-color: #fff; border-radius: @border-radius-base; box-shadow: 0 1px 4px fade(#000,50%); }
      ul a { padding: .7em 2em .55em 1em; font-size: .9em; }
      ul a:focus,
      ul a:active,
      ul .js-on > a { background-color: @colorMain; color: #fff; text-decoration: none; }
      .parent::after { content: ""; border: 5px solid transparent; border-left-color: fade(#000,20%); position: absolute; z-index: 2; top: 50%; right: 0; transform: translate(0, -50%); }
      .parent.js-on::after { transform: rotate(180deg) translate(15px, 50%); border-left-color: #fff; }

      ul.level0 { left: 50%; top: 100%; transform: translate(-30px,0); }
    }
    li.level1 {
      a {}
    }
  }

  .header-right {
    > * { position: relative; }
    .skip-link { display: block; position: relative; color: inherit; opacity: .75; font-size: 1.6rem; padding: .3em .7em; margin: 0 .2em; }
    .skip-link:hover { opacity: 1; color: @link-color; }
    .skip-content { box-shadow: 0 2px 4px rgba(0,0,0,.4); top: 100%; padding: @gridGutterHalf; border-radius: 3px; position: absolute; left: auto; right: 0; width: 90vw; max-width: 300px; background-color: #fff; }

    .switcher {
      padding-left: 6px;
      .store-switcher-label { display: none; }
      .storeSwitcher {
        padding-top: 2px;
        button {
          padding: .8em .8em .8em .8em;
          i.flag { margin: 0; transform: scale(1.1); }
          span, &::after { display: none; }
        }
      }

    }
  }

  .navbar-toggle { border: 1px solid #b6bbbf; }
  .navbar-toggle .icon-bar { background-color: #222; }
  .navbar-nav { margin: auto; float: none; display: table; }

  .mobileMenuBtn { display: none; }
}


.header-minicart {
  > a .icon { .faBefore(shopping-cart); }
  > a .count {
    position: absolute; top: 0; left: 55%; transform: translate(-50%,0); min-width: 15px; text-align: center; font-size: .8rem; line-height: 1;
    background-color: @colorMain; color: #fff; border-radius: 2px; padding: .2em .25em .1em;
    &::after { content: ""; border: 3px solid transparent; border-top-color: @colorMain; position: absolute; top: 100%; left: 50%; transform: translate(-50%,0); }
  }
  > a.no-count .count { display: none; }

  #header-cart {
    ul { list-style: none; margin: 0; padding: 0; }
    .block-subtitle { color: @text-color; font-weight: bold; }
    .empty { font-size: 10px; color: #aaa; }
    .product-details > a { font-size: 1.2rem; }
    .mini-products-list {}
    .mini-products-list li {
      display: flex; padding: 5px 0;
      > a { flex: 0 0 auto; width: 50px; }
      .product-name { margin: 0; font-weight: bold; line-height: 1.2; }
      .info-wrapper {
        font-size: 1.2rem;
        th { padding: 0; padding-right: 5px; }
        .cart-item-quantity { padding: 0; border: none; background-color: transparent; line-height: inherit; pointer-events: none; font-weight: bold; }
        .qty-wrapper button { display: none; }
      }
    }

    .subtotal {
      text-align: center; font-weight: bold; padding: 1rem 0 0; border-top: 1px solid #eee; font-size: 1.3rem;
      .label { color: inherit; font-size: inherit; padding: 0; font-weight: inherit; }
    }
    .minicart-actions {
      .button { width: 100%; }
      .checkout-types { margin-bottom: 5px; }
      .checkout-button {
        position:relative; .faAfter(angle-right);
        &::after { position: absolute; top: 50%; right: 0; transform: translate(-50%, -50%); padding: 0 .2rem; }
      }
      .cart-link { display: block; text-align: center; font-size: 1.2rem; position:relative; transform: translate(0,50%); }
    }
  }
}


.main-container {
  padding: 0 0 @gridGutter 0; border: 1px solid #eee; border-width: 1px 0;
}


.breadcrumbs {
  padding: 4px 0; font-size: @fontSizeXS;
  ul { &:extend(.container); list-style: none; margin-bottom: 0; margin-top:0; display: flex; align-items: center; overflow: hidden; }
  li { flex: 0 0 auto; padding: 0; }
  strong,
  a { display: block; color: inherit; white-space: nowrap; max-width: 200px; padding: .3em 0; text-overflow: ellipsis; overflow: hidden; opacity: .6; }
  a {}
  a:hover { color: @link-color; opacity: 1; text-decoration: none; }
  strong { color: inherit; font-weight: normal; }
  li > span { display: none; }
  strong::before,
  a::before { content: "›"; display: inline; padding: 0 5px; }
  li:first-child a::before { display:none; }
}


.toolbar {
  display: flex; flex-wrap: nowrap; flex-direction: row-reverse; justify-content: space-between; align-items: center;
  font-size: .8em;
  > * { flex: 0 1 auto; }

  .view-mode {
    margin-right: 1em;
  }

  .sorter {
    display: flex; align-items: center;
    label {
      margin-right: 5px;
      &:after { content: ':'; }
    }
    > .sort-by {
      display:flex; align-items: center; margin-right: 5px;
      button { display: inline-block; font-size: 0; color: inherit; border: none; background-color: transparent; -webkit-appearance: none; }
      button:focus,
      button:hover { text-decoration: none; color: @link-color; }
      button::before { font-size: 1rem !important; line-height: 0; padding: .1em .4em; }
      .sort-dir-asc { .faBefore(sort-alpha-asc) }
      .sort-dir-desc { .faBefore(sort-alpha-desc) }
    }
  }

  .pager {
    display:flex; align-items: center; overflow: hidden; margin: 0;
    .count-container { display: flex; align-items: center; margin-right: @gridGutterHalf; }
    .count-container > * { margin: 0; }
    .amount { white-space: nowrap; padding-right: .4em; }
    .limiter {
      display: flex; align-items: center;
      label {
        padding-right: 5px; margin: 0;
        &:after { content: ':'; }
      }
      select {}
    }
    .pages {
      line-height: 1;
      .pagination { .pagination-sm; margin: 0; }
      .pagination > li > span,
      .pagination > li > a { padding-top: 0; padding-bottom: 0; color: fade(@text-color, 75%); }
    }
  }
} // .toolbar


.availability {
  margin: 0; font-size: @font-size-small;
  .label { display: none; }
  &.in-stock { display: none; }
  &.available-soon,
  &.out-of-stock { color: @brand-danger; }
}
.availability-only { color: @brand-danger; }




.main-container .full-banner { .breakContainer; }
.full-banner {
  position: relative; display: flex; align-items: center; height: 35vw; max-height: 500px;
  .bg { position: absolute; z-index: -1; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; background-color: @text-color; background-position: center; background-repeat: no-repeat; background-size: cover; }
  .content {
    flex: 1; color: #fff; .paddingV(@gridGutter);
    h1 { font-weight: bold; font-size: 3.6rem; margin: 0 0 .5em; }
    h1 div + div { margin-top: .5em; }
    p { font-size: 2.2rem; margin: 0; }
  }

  .dark { color: @text-color; }

  &.bg-center-top {
    .bg { background-position: center top; }
  }
  &.bg-center-bottom {
    .bg { background-position: center bottom; }
  }
  &.bg-left-center {
    .bg { background-position: left center; }
  }
  &.bg-right-center {
    .bg { background-position: right center; }
  }

}


.products-grid {
  &:extend(.list-unstyled);
  display: flex; flex-wrap: wrap; padding: @gridGutterHalf 0; margin: 0 -@gridGutterHalf;
  > .item { flex: 0 0 auto; width: percentage(1/@productListLargeCols); padding: 0 @gridGutterHalf; margin-bottom: @gridGutter; }
  .item-wrap { height: 100%; box-shadow: 0 0 1px #ddd; border-radius: 2px; }
  .product-image { display: block; text-align: center; }
  .product-image .img { display: block; background-position: center center; background-repeat: no-repeat; background-size: contain; }
  .product-image .img:before { content: ""; display: block; padding-bottom: 90%; }
  .product-info {
    padding: 0 @gridGutterHalf .5em;
    .product-name { font-size: @font-size-base; margin: 0; text-align: center; font-weight: bold; }
    .product-name a { color: inherit; }
    .price-box {
      text-align: center; position: relative; padding: 7px 0 10px;
      .price-label { display: none; }
      .old-price { margin: 0; position: absolute; bottom:0; left: 50%; transform: translate(-50%, 0); }
    }
    .add-to-links { display: none; }
    .availability { display: none; }
    .actions { padding: 8px 0 4px; text-align: center; }
    .actions .button { .btn-sm; display: block; width: 100%; font-weight: bold; }
  }

  .item-wrap.on-sale {
    .product-image { position: relative; }
    .discount { position:absolute; top:0; right:100%; transform:translate(100%, 0) rotate(-15deg); margin:15px -10px 0 0; line-height: 1;
      font-size:1.2rem; padding:.8em; font-weight:bold; color:#fff; text-align:center; text-transform:lowercase; }
    .discount::after { content: ""; display: block; padding-bottom: 100%; background-color:@brand-warning; border-radius: 1000px;
      position: absolute; z-index: -1; left: 50%; top: 50%; width: 100%; transform: translate(-50%,-50%); }
  }

  .item-wrap.not-buyable {
    .discount,
    .price-box { visibility: hidden; opacity: 0; user-select: none; pointer-events: none; }
  }
}

.related-products {
  padding: @gridGutter @gridGutterHalf @gridGutterHalf;
  display: flex; align-items: flex-start; flex-wrap: wrap;
  > h2 { flex: 1 0 120px; margin-top: @gridGutter; padding-right: @gridGutter; }
  .products-grid {
    flex: 1 1 75%; padding: 0; margin: 0 -1*@gridGutterHalf;
    &::after { content: ""; display: block; height: 1px; }
    &::after,
    > .item { flex: 1 1 33.33%; width: auto; min-width:280px; max-width:500px; }
    .product-info {
      .product-name { height: 2.2em; margin: 0; padding: 0; overflow: hidden; text-overflow: ellipsis; }
      .availability { display: block; background-color: #eee; border-color: transparent; }
    }
  }
}

.cart-crosssell {
  padding: @gridGutter*2 0 @gridGutterHalf;
  > h2 { font-size: 1.3em; }
  .products-grid {
    padding: 0; margin: 0 -1*@gridGutterHalf;
    &::after { content: ""; display: block; height: 1px; }
    &::after,
    > .item { flex: 1 1 25%; width: auto; min-width:200px; max-width:400px; }
    .item-wrap { background-color: #fff; }
    .product-info {
      .product-name { height: 2.2em; margin: 0; padding: 0; overflow: hidden; text-overflow: ellipsis; }
      .price-box { display: block; margin-top: 1rem; position: relative; }
      .price-box .old-price { position: absolute; bottom: 100%; left: 0; right: 0; margin-bottom: -2px; }
      .price-box p { margin:0; }
      .price-label { display: none; }
    }
  }
}

.footer-container {
  padding-top: @gridGutter;
  .footer-cols {
    display: flex;
    > * { flex: 1 1 100%; }
  }

  .footer-links ul { display: inline-block; list-style: none; margin: 0; padding: 0; }
  .footer-links ul li { display: inline-block; }
  .footer-links ul li a { color: inherit; font-size: @font-size-small; padding: .3em 1.3em; }
  .footer-links ul li a:hover { color: @link-color; }

  .footer-copy { font-size: @font-size-small; text-align: center; padding: @gridGutter; }

}



.storeSwitcher {
  font-size:@font-size-small;
  i.flag {
    display:inline-block; vertical-align:middle; width:2em; margin-right:4px; margin-left:-3px; margin-top:-2px;
    background-position:center center; background-repeat:no-repeat; background-size:cover; box-shadow:0 0 1px fade(#000,25%);
    &::before { content:""; display:block; padding-bottom:60%; }
  }

  &.toggle {
    display:table; /* doesn't expand to full width but breaks line */
    border:1px solid rgba(0,0,0,.2); border-radius:@border-radius-base;
    button { display:flex; align-items:center; position:relative; padding:.4em 3em .3em .8em; white-space:nowrap; color:inherit; background-color: fade(#fff, 20%); border:none; }
    button:focus,
    button:hover { text-decoration:none; background-color: fade(#fff, 30%); }
    button::after { content:""; border:5px solid transparent; border-top-color:fade(#fff, 20%); position:absolute; top:50%; right:0; transform:translate(-50%, -25%); }
  }

  &.modal {
    .modal-dialog { max-width:450px; }
    .modal-head { text-align: center; }
    .store { display:flex; align-items:center; padding:.5rem 1rem; max-width:300px; margin:0 auto; font-size:1.5rem; border:1px solid rgba(0,0,0,.1); color:#323f47; border-radius:3px; }
    .store + .store { margin-top:.75em; }
    .store:hover { border-color:rgba(0,0,0,.15); background-color:#F5F7FA; color:#323f47; text-decoration:none; }
    .store:active { background-color:#F5F7FA; box-shadow:none; }
    .spec-footer { padding-top:2rem; text-align:center; }
    .spec-footer a { font-weight:bold; }
  }
}




/* -------------------------------------------------- */
/* !- Powered by eBuyNow */
body.powered-by-in { overflow:hidden }
body>.outer-wrap{position:relative;right:0;transition:all .2s ease}
body>.outer-wrap.in{right:320px}
.powered-by-toggle{position:fixed;right:7px;background:rgba(36,38,39,.5);bottom:7px;z-index:999;transition:all .2s ease;border-radius:20px;background-clip:padding-box;padding:5px 10px 4px;color:#DBDCDD;font-size:10px;line-height:1;text-decoration:none}

.powered-by-toggle:active,
.powered-by-toggle:focus,
.powered-by-toggle:hover,
.powered-by-toggle:visited { text-decoration:none; color:#fff; }

.powered-by-toggle.in{ right:327px }
#powered-by{overflow:scroll;position:fixed;right:-320px;width:320px;background:#242627;top:0;bottom:0;z-index:999;color:#A0A2A4;padding:30px;transition:all .2s ease}
#powered-by.in{right:0}
#powered-by a{color:#A0A2A4}
#powered-by a:hover{color:#fff}

#powered-by a:active,
#powered-by a:focus,
#powered-by a:hover,
#powered-by a:visited{text-decoration:none}

#powered-by .powered-by-content{margin-top:100px;position:relative}
#powered-by .close-powered-by{position:absolute;z-index:2;top:30px;right:30px;height:25px;width:25px}
#powered-by .powered-by-title{font-size:18px;line-height:24px;color:#fff;margin-bottom:30px}
#powered-by .powered-by-main{font-size:12px;line-height:18px;width:260px}
#powered-by .powered-by-main p{margin-bottom:20px}
#powered-by .powered-by-links{border-top:1px solid #444647}
#powered-by .powered-by-links a{color:#fff;font-size:12px;line-height:18px}
#powered-by .powered-by-links li{border-bottom:1px solid #444647;padding-bottom:15px;margin-top:15px}
#powered-by-overlay{position:fixed;z-index:-1;top:0;bottom:0;left:0;right:0;background:#242627;opacity:0;transition:all .2s ease}
#powered-by-overlay.in{z-index:105;opacity:.25}



.block-subscribe {
  .block-content {
    &:extend(.container);
    display: flex; justify-content: center;
    > * { flex: 0 0 auto; width: 50%; display: flex; align-items: center; }
  }
  .block-header { padding: 1em @gridGutterHalf; padding-left: 0; }
  .block-header label { width: 100%; text-align: right; }
  .form-wrap { padding-left: @gridGutterHalf; }
  form { position: relative; width: 100%; max-width: 300px; }
  .input-box { width: 100%; min-width: 15em; }
  .actions { position: absolute; top: 0; right: 0; bottom: 0; }
  .actions .button {
    .faBefore(arrow-right); display: block; color: inherit; padding: 0 30%; min-width: 2em; text-align: center; line-height: 1; height: 100%; opacity: .75;
    background-color: fade(#000,10%); border: none; border-radius:0; font-size: 1em;
    span { display: none; }
    &:hover { opacity: 1; }
  }
  .validation-advice {
    position: absolute; bottom: 100%; font-size: @font-size-small; color: #fff; line-height: 1.2; padding: 0.4em; background: @brand-danger; box-shadow: 1px 1px 4px #aaa; border-radius: @border-radius-base; margin-bottom: 2px;
    &::after { content: ""; border: .5em solid transparent; border-top-color: @brand-danger; position: absolute; top: 100%; left: 1em; }
  }

}



/* -------------------------------------------------- */
/* !- Specific Pages */



/* -------------------------------------------------- */
/* !- 404 Not Found */
#cms-content.page-not-found {
  .page-content { float: none; margin: 0 auto !important; width: 100%; max-width: 600px; text-align:center; padding: 15vmin 0 10vmin !important; }
  h1 {}
  .not-found-info { padding: @gridGutterHalf 0; font-size: @font-size-large; font-weight:300; }
  .not-found-links .btn { }
}




/* -------------------------------------------------- */
/* !- Product Page */
.catalog-product-view {
  .main-container { padding-bottom: 0; }
}

.product-view {
  .product-essential { padding-bottom: @gridGutter * 2; }
  .product-essential form {
    display: flex; flex-wrap: wrap;
    > * { flex: 1 1 100%;  }
    > .product-img-box,
    > .product-shop { flex: 0 0 auto; width: 50%; }
  }

  .product-img-box {
    padding-right: @gridGutter;
    .product-name { display: none; }

    .product-image-gallery {
      > .img { display: none; }
      > .img:first-child { display: block; }
      .img-wrap { max-width: 500px; margin: 0 auto; }
    }

    .more-views {
      .no-js & ul:not(.slick-slider) { display: none !important; }
      > ul { list-style: none; margin: 0; padding: 0; display: flex; align-items: flex-start; flex-wrap: wrap; }
      > ul > li { flex: 0 0 auto; }
    }

    .product-thumbs {
      background-color: transparent; padding: 0;
      .slick-track { margin: 0 auto; }
      .slick-prev { left: auto; right: 100%;
        &::before { font-size: 20px; }
      }
      .slick-next { right: auto; left: 100%;
        &::before { font-size: 20px; }
      }
      .img { opacity: .8; }
      .img:focus,
      .img:hover { opacity: 1; cursor: pointer; outline: none; }
      .img + .img { padding-left: 1px; }
      .img .bg-img {
        padding-bottom: 75%; border: 1px solid #f4f4f4; border-radius: 2px;
        background-position: center; background-repeat: no-repeat; background-size: cover;
      }
    }
  }

  .product-shop {
    padding-top: 1.5 * @gridGutter; padding-left: @gridGutter;

    .short-description { font-size: 1.8rem; padding-bottom: @gridGutter; }

    .product-options {
      dt > label { font-weight: bold; font-size: @fontSizeSm; text-transform: uppercase; }
      > dl { margin: 0; }
      > dl + dl { margin-top: @gridGutterHalf; }
    }

    .price-info {
      position: relative; line-height: 1;
      .discount { position:absolute; top:50%; right:100%; transform:translate(-6px, -50%) rotate(-15deg);
        font-size:1.2rem; padding:.8em; font-weight:bold; color:#fff; text-align:center; text-transform:lowercase; }
      .discount::after { content: ""; display: block; padding-bottom: 100%; background-color:@brand-warning; border-radius: 1000px;
        position: absolute; z-index: -1; left: 50%; top: 50%; width: 100%; transform: translate(-50%,-50%); }
    }

    .price-box {
      padding-top: @gridGutterHalf;
      .regular-price { font-size: @fontSizeXL }
    }

    .grouped {
      padding-bottom: @gridGutter;
      tr + tr > td { border-top: 1rem solid transparent !important; }
      .product-name { font-size: 1.6rem; font-weight: bold; padding-bottom: 0; }
      .qty-wrapper {
        display: flex; align-items: center;
        .price-box {
          padding: 0 2em 0 0; margin: 0;
          .regular-price, .price { font-size: 1em; }
        }
        label { font-size: 1.2rem; padding-right: 5px; }
        input { max-width: 3em; text-align: center; }
      }

      &.grouped-single {
        padding-bottom: 2px;
        .price-box { flex: 1 1 100%; font-size: @fontSizeXL }
      }
    }

    .pdp-container1 + .price-info { display:none; }

    .add-to-box {
      .or { display: none; }
    }
    .add-to-cart {
      position: relative; display: flex; padding-top: @gridGutterHalf;
      .qty-wrapper { flex: 0 0 auto; margin-right: .5em; }
      .qty-wrapper label { display: none; }
      #qty { display: block; width: 4em; height: 100%; font-size: @font-size-base; text-align: center; }
      .add-to-cart-buttons { flex: 1 1 100%; }
      .btn-cart { .faBefore(shopping-cart); line-height: 1; padding: .8em 1.9em; }
      .btn-cart:before { padding-right: .75em; }
    }
    .add-to-cart.plus-minus {
      .qty-wrapper {
        position: relative; padding: 0 2.5em; border-radius: @btn-border-radius-base; border: 1px solid @input-border;
        .qty-btn { position: absolute; left: 0; top: 0; bottom: 0; width: 2.5em; text-align: center; background-color: fade(#000,2%); }
        .qty-btn:hover { cursor: pointer; background-color: fade(#000,5%); }
        .qty-btn i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: fade(#000,60%); font-size: 1.2em; font-style: normal; }
        .qty-minus {}
        .qty-plus { left: auto; right: 0; }
        #qty { border-radius: 0; border-width: 0 1px; }
      }
    }

    .add-to-extra { display: none; }
  }

  .product-heros { .breakContainer; }

  .product-collateral {
    .breakContainer; background-color: #f3f3f3;
    .product-collateral-wrap { .contain; .paddingV(@gridGutter*2); }
    .product-collateral-block + .product-collateral-block { margin-top: @gridGutter; }

    &.sideImg {
      .product-collateral-wrap { position: relative; display: flex; align-items: center; }
      .product-collateral-block { flex: 1 1 auto; }
      .sideImg {
        flex: 0 0 40%; align-self: flex-start; max-width: 500px; background-size: contain; background-repeat: no-repeat; background-position: center top;
        &::before { content: ""; display: block; padding-bottom: @productViewGalleryHeightRatio; }
      }
    }
  }
}



.product-pitch {
  display: flex; align-items: flex-end; height: 50vw; max-height: 700px; position: relative; border-top: 1px solid #F7F7F7;

  .bg-img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-position: center center; background-size: cover; background-repeat: no-repeat; }
  .bg-img + .container { position: relative; z-index: 1; }
  .bg-img.bg-center-bottom { background-position: center bottom; }

  .container { padding-top: 15vh; padding-bottom: 15vh; }
  .container.light { color: #fff; }

  .pitch { position: relative; padding: @gridGutter; padding-left: @gridGutterHalf; font-size: 16px; }
  .pitch::before { content: ""; position: absolute; right: 100%; top: 0; bottom: 0; background-color: inherit; width: 100vh; }
  .pitch * { color: inherit; }
  .pitch h2:first-child { margin-top: 0; }
  .pitch p:last-child { margin-bottom: 0; }

  &.fullBg,
  &.full-bg { max-height: 500px; }

  &.fullBg,
  &.full-bg,
  &.fullBg + .product-pitch,
  &.full-bg + .product-pitch { border-top: none; }

  &.fullBg.textTop { align-items: flex-start; }
  &.fullBg.textCenter { align-items: center; }
  &.fullBg.textRight { left: 50%; }

  &.sideBySide {
    align-items: stretch; flex-direction: row-reverse; height: 60vh; max-height: 500px;

    > * { flex: 0 0 auto; width: 50%; max-width: none; }
    .bg-img { position: relative; background-size: contain; background-position: left center; }
    .bg-img.cover { background-size: cover; }
    .container { padding-top: 0; padding-bottom: 0; }
    .container .row { display: flex; align-items: center; height: 100%; }
    .pitch { width: 100% !important; max-width: @containerMax/2; margin-left: auto; float: none; }
  }

  &.sideBySide.imgLeft {
    flex-direction: row;
    .bg-img { background-position: right center; }
    &.spaceFix .bg-img { background-position: 70% center; }
    .pitch { margin-left: 0; margin-right: auto; padding-left: @gridGutter; padding-right: @gridGutterHalf; }
    .pitch::before { right: auto; left: 100%; }
  }

  &.noStack {
    flex-direction: column; align-items: center; height: auto; max-height: none;
    .bg-img { position: relative; flex: 0 0 100%; width: 100%; padding-bottom: 50%; }
    .pitch {
      flex: 0 0 100%; width: 100%; text-align: center; max-width: @containerMax * 0.6667; padding-top: 2rem; padding-bottom: 6rem;
      h2 { font-size: 3rem; }
    }
    &.imgBelow {
      flex-direction: column-reverse;
      .pitch { padding-top: 6rem; padding-bottom: 2rem; }
    }
  }

}

.pitchvideo-wrap { position: relative; overflow: hidden; background-size: cover !important; cursor: pointer; }
.pitchvideo-wrap::before { content: ""; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; color: #fff; background-color: fade(#000, 50%); }
.lightOverlay .pitchvideo-wrap::before { background-color: fade(#000, 25%); }
.product-pitch .pitchvideo-wrap + div .pitch { padding: @gridGutter; }
.product-pitch.fullBg .pitchvideo-wrap + div { pointer-events: none; }
.pitchvideo-play {
  position: absolute; top: 50%; left: 50%; width: 1em; height: 1em; font-size: 50px; color: #fff; transform: translate(-50%,-50%); opacity: .5;

  &::before { content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-17%,-50%); border: 0 solid transparent; border-width: .25em .4em; border-left-color: currentColor; }
  &::after { content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; border: .08em solid currentColor; border-radius:1em;
    animation-name: pulsePlus;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center center;
  }
  .pitchvideo-wrap:hover & { opacity: .9; }
}
.pitchvideo-modal {
  position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: fade(#000, 75%);
  .pitchvideo-frame {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200vmin; max-width: 90vw; border-radius: 3px; overflow: hidden;
    &::before { content: ""; display: block; width: 50px; height: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    background: #fff transparent url('../images/loading.svg') center center no-repeat; background-size: 40px; border-radius: 2px; }
    &::after { content: ""; display: block; padding-bottom: 56.25%; }
    iframe, video { position: absolute; z-index: 2; background-color: transparent; top: 0; left: 0; width: 100% !important; height: 100% !important; border: none; }
  }
}


/* -------------------------------------------------- */
/* !- Cart + Checkout */
.checkout-cart-empty {
  margin: 0 auto; max-width: @containerMax / 2; padding-top: 10vh; text-align: center;
  .page-title { .faBefore(shopping-cart); }
  .page-title::before { font-size: 100px; color: fade(#000, 5%); margin-bottom: @gridGutterHalf; }
  .cart-empty { padding: @gridGutterHalf 0 @gridGutter; }
  .cart-empty p:first-child { margin-bottom: @gridGutter * 2; }
}

.checkout-cart-index {
  .main-container {
    padding: @gridGutter @gridGutter @gridGutter*2;
    ul,ol { list-style: none; margin: 0; padding: 0; }
  }

  .page-title {
    border: none; margin: 0;
    h1 { margin: 0; }
    .checkout-types { display: none; }
  }

  .cart {
    display: flex; min-height: 50vh;
    > form { flex: 1 1 100%; padding-right: @gridGutter; }
    .cart-summary { flex: 0 0 auto; width: 350px; }
  }

  .cart-table {
    width: 100%;

    &.updating { position:relative; cursor:wait; }
    &.updating::after { content:""; position:absolute; left:0; top:0; right:0; bottom:0; background-color:rgba(255,255,255,.5);
      background-image:url(../images/loading.svg) !important; background-size:40px !important; background-position:center center !important; background-repeat:no-repeat !important; }

    tr { border-bottom: 1px solid rgba(0,0,0,.05); }
    th { border-bottom: 1px solid rgba(0,0,0,.05); text-transform: none; font-size: 1.3rem; padding: 3px 5px; }

    thead {
      th:first-child { opacity: 0; }
    }

    .product-cart-image {
      width: 100px; padding: 10px 0;
      > a { display: block; }
      .cart-links { display: none; }
    }

    .product-cart-sku {
      display: none;
      .label { display: none; }
    }

    .product-cart-info {
      .btn-remove { display:none; }
      .product-name {
        font-size: @fontSizeLg; margin: 0;
        a { color: inherit; }
        a:hover { color: @link-color; }

        + div { margin-top: 10px; }
      }
    }

    .item-options {
      display:flex; flex-wrap: wrap; align-items: center; font-size: 1.1rem;
      > dt, > dd { flex: 0 0 auto; padding-right: 5px; }
      > dt::after { content: ":"; }
      .price { display:none; }
    }

    .product-cart-price { width:1%; text-align: center; }
    td.product-cart-price { font-size: 12px; }

    .product-cart-actions {
      width:1%; padding: 0 5px; text-align: center;
      .qty { text-align: center; border-color: #eee; border-radius: 2px; font-size:16px; width: 48px; margin: 0 auto; }
      .qty:hover,
      .qty:focus { border-color: #ddd; }
      .btn-update { display: none; font-size: 1rem; padding: .2em 1em .1em; }
      .cart-links { display: none; }
    }

    .product-cart-total { width:1%; padding: 0 5px; text-align: center; font-weight: bold; }

    .cart-links > li { font-size: 1.1rem; }

    .product-cart-remove { width: 1%; padding: 0 8px; }

    .btn-remove { background: none !important; text-indent: 0 !important; color: #bbb; width: auto; height: auto; line-height: 1; font-size: 0; .faBefore(trash-o); }
    .btn-remove:hover { color: @brand-danger; text-decoration: none; }
    .btn-remove:before { display: inline-block; font-size: 1.4rem; padding: .4em .2em; }

    .cart-footer-actions {
      padding-top: @gridGutter; font-size: @font-size-base * .8;
      .btn-empty,
      .btn-update,
      span.or { display: none; }
      .btn-update:first-child { display: inline-block; visibility: visible !important; padding-left: 1em; padding-right: 1em; font-size: 1.1rem; }
      .btn-continue {
        float: left; position: relative; .faBefore(angle-left); font-size: 1.1rem; border-color: transparent; background-color: transparent; color: @link-color; padding-left: 4px; padding-right: 4px;
        &::before { position:absolute; right:100%; top:50%; transform:translate(0,-50%); padding: 0 .25em; }
      }
    }
  }

  .cart-totals,
  .cart-forms .giftcard,
  .cart-forms .shipping { background-color: #fbfbfb; border: 1px solid rgba(0,0,0,.05); }

  .cart-forms {
    display: none; margin-top: 1rem;
    .shipping {
      padding: .5rem; border-radius: 2px;
      h2 { margin: 0; font-size: @font-size-base; color: inherit; opacity: .75; padding-top: .2em; }
      .sp-methods {
        margin: 0; padding: 1rem;
        li { display: flex; align-items: flex-start; line-height: 1.2; font-size: 12px; }
        li + li { margin-top: 1em; }
        input.radio { display: inline-block; margin: 0; }
        label { display: flex; flex-direction: row-reverse; flex-wrap: wrap; margin:0; }
        label > span { margin-left: .4em; }
      }
      .buttons-set {
        padding: 0; text-align: center;
        button { padding: .3em 1em; font-size: 1.2rem; }
      }
    }
    .shipping.interactive {
      h2 { position: relative; cursor: pointer; .faBefore(angle-down); }
      h2:before { position: absolute; right: .5em; top: 50%; transform: translate(0,-50%); }
      .shipping-form { display: none; }
      &.state-open { background-color: #fff; }
      &.state-open .shipping-form { display: block; }
    }
  }
  .cart-totals-wrapper + .cart-forms { display: block; }

  .cart-totals {
    border-radius: 2px; padding: 2rem 1rem 1rem; background-color: #fff;
    table { width: 100%; font-size: 1rem; margin-bottom: 1rem; }
    table td { font-size: 1.2em; line-height: 1.1; padding: 6px 0; }
    table td small { display: block; font-size: 9px; opacity: .8; }
    table td:last-child { padding-left: 6px; padding-right: 6px; }
    table tbody {}
    table tfoot { border: none; }
    table tfoot td { padding-top: 15px !important; font-size: 16px; opacity: .75; }
    table tfoot td:last-child { opacity: 1; }
    .btn-proceed-checkout {
      position:relative; width: 100%; padding: .5em 2em .5em; font-size: 1.25em; font-weight: bold; .faAfter(angle-right);
      &::after { position: absolute; top: 50%; right: 0; transform: translate(-50%, -50%); padding: 0 .4em; }
    }

    tfoot .total-savings div { display: inline-block; background-color: #d4edda; color: #155724; padding: 3px 8px 4px; border-radius: 3px; font-size: 13px; font-weight: bold; line-height: 1.1; border: 1px solid #c3e6cb; }
    tfoot .total-savings .price { color:inherit; }

    .method-checkout-cart-methods-multishipping { display: none; }

    .paypal-logo {
      .paypal-or { display:block; text-align: center; padding: 3rem 0 .4rem; opacity: .75; font-size: 1.2rem; }
      .btn { width: 100%; padding: .8em 1.5em; font-size: 1.3rem; font-weight: bold; background-color: #EAEAEA; color: #474747; box-shadow: 0 1px 3px rgba(0,0,0, .1); }
      .btn:hover { background-color: darken(#EAEAEA, 3%); }
    }
  }

  .discount-form {
    padding: 60px 0 30px;
    .toggle { display: block; text-align: center; font-size: 12px; color: #999; font-weight: bold; }
    .toggle:hover { opacity: 1; }
    .fields {  }
    .input-box { position: relative; }
    .input-box .button { position: absolute; top: 0; right: 0; bottom: 0; padding: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;
      display: flex; flex-direction: column; align-items: center; justify-content: center; }
    .input-box .button > span { font-size: 10px; padding: 0 1em; }

    &:not(.active) .fields { display: none; }
    &.active .toggle { display: none; }
  }

} // .checkout-cart-index

@media screen and (max-width: @screen-md) {
  .checkout-cart-index {
    .cart-table {
      .product-cart-image { width: 80px; }
      .product-cart-remove { display: none; }
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .checkout-cart-index {
    .main-container { padding: @gridGutter 0; }
    .page-title { text-align: center; margin-bottom: @gridGutterHalf; }
    .page-title h1 { font-size: @fontSizeXL; }

    .cart {
      display: block;
      > form { padding-right: 0; margin: 0 @gridGutterHalf*-1; }
      .cart-summary { width: 100%; max-width: 400px; margin-left: auto; }
    }
    .cart-table {
      font-size: @fontSizeSm;
      th { padding: 0 3px; font-size: 1rem; font-weight: 400; }

      thead th.cart-price-head,
      tbody td.product-cart-price { display: none; }

      .product-cart-info {
        padding-right: 10px;
        .product-name { font-size: @fontSizeMd; }
      }

      .cart-footer-actions { padding: @gridGutter @gridGutterHalf; }
    }
    .cart-totals { border: none; padding: @gridGutterHalf 0; background-color: transparent; }
  }
}




// module: magecheckout-onepage
#magecheckout-one-step-checkout {
  .one-step-checkout-wrapper {
    list-style: none; margin: 0; padding: 0; padding-top: 2rem;
    .one-step-checkout-title-wrapper {}
    h1 { margin:0; line-height: 1.2; }
    .onestep-title { padding: 6px 10px 6px 0; }
  }
}


/* -------------------------------------------------- */
/* !- Checkout Success */
.checkout-onepage-success {
  .col-main { text-align: center; padding: @gridGutter*2 0 @gridGutter*3; }
  .page-title { padding: 0; }
  .success-check {
    max-width: 100px; margin: 0 auto; padding-bottom: @gridGutterHalf;
    svg { fill: @brand-success; }
  }
  h1 { border: none; margin: 0; padding: 0; }
  h2 { text-transform: none; font-size: 1.6rem; font-weight: normal; margin: 0 0 @gridGutter*2; }
  p { max-width: 450px; margin: 0 auto; }
  p.your-order {
    font-size: 2rem;
    .orderNum { font-weight: bold; }
  }
  p.email-sent-notice { font-size: 1.2rem; }
  .buttons-set { margin: 0; padding: @gridGutter 0 0; border: none; }
}

@media screen and (max-width: @screen-md) {
  .checkout-onepage-success {
    .col-main { padding: @gridGutter*2 0; }
    .success-check { max-width: 75px; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.4rem; margin-bottom: @gridGutter; }
    p.your-order {
      font-size: 1.4rem;
      .orderNum { display:block; font-weight: bold; font-size: 2rem; }
    }
  }
}




/* -------------------------------------------------- */
/* !- Customer */


/* -------------------------------------------------- */
/* !- Customer Pages */
.customer-pages {
  .col-main { padding: 0 3vw 3vw; }
  .page-title { text-align: center; margin-bottom: @gridGutter; }

  .page-title + .messages + form,
  .page-title + form {
    max-width: 450px; margin: 0 auto;
    h2 { font-size: 1.8rem; }
  }
}

.remember-me-popup { display: none; }

.customer-account-create {
  &:extend(.customer-pages all);

  .customer-name-middlename {
    display: flex; margin: 0 -5px;
    > * { flex: 1 1 100%; padding: 0 5px; }
    .field.name-middlename { display: none; }
  }

  .fieldset {
    margin: 0; padding: 0;

    input.checkbox { margin-top: 7px; }
    .control label { background-color: transparent; }
  }
}

.customer-account-login {
  &:extend(.customer-pages all);

  .page-title + .messages + form,
  .page-title + form {
    .col2-set { display: flex; flex-flow: column-reverse nowrap; }
    .col2-set > * { width: 100%; padding: 15px 0 60px; border: none; margin: 0; }

    .buttons-set {
      padding-top: 15px;
      .button { display: block; width: 100%; max-width: 250px; margin: 0 auto; }
    }
  }

  .registered-users {
    a { font-size: 1.2rem; }
  }
  .new-users {
    text-align: center;
    .form-instructions,
    .benefits { display: none; }
    .buttons-set .button { btn-secondary: todo; }
  }
}

.customer-account-forgotpassword {
  &:extend(.customer-pages all);

  h2 { display: none; }
  .back-link a { font-size: 1.3rem; }
}

body.customer-account {
  /* Customer Account Pages (logged-in only) */

  .main-container { padding-left: 3vw; padding-right: 3vw; }

  .block-account {
    padding-right: 20px;
    .block-title { margin-bottom: .5em; }
    .block-title strong { color: inherit; }
    li { text-transform: none; font-size: 1.4rem; }
    li a { display: block; padding: .25em 0; }
    li.current a { color: @brand-primary; }

    li.logout { border-bottom: none; padding-top: 2em; }
    li.logout a { btn-secondary: todo; }

  }

  .block-reorder { display: none; }

  .data-table th { font-size: 1.1rem; text-transform: none; }
  .data-table tbody td,
  .data-table tfoot td { font-size: 1.4rem; }
  .data-table td a { text-transform: none; font-size: 1.2rem; font-family: inherit; }
  .data-table .bundle.label td { padding: 0; }
  .data-table .bundle.child td { padding-top: 0; }
  .data-table span.nobr { white-space: nowrap !important; }

  form .legend { border: none; padding-bottom: 0; text-transform: none; font-weight: bold; }
}

.customer-account-index {
  .welcome-msg .hello + p { display: none; }
  .dashboard .box-head { border: none; padding-bottom: 0; }
  .dashboard .box-account { border: none; margin-bottom: 0; }
  .dashboard h3 { font-size: 1.4rem !important; text-transform: none; }

  .dashboard .box-account p,
  .dashboard .box-account address { font-family: inherit; font-style: normal; font-size: 1.4rem; }
}
.customer-account-edit {
  .my-account {
    .fieldset { max-width: 600px }
    .buttons-set { text-align: left; }
    .buttons-set button { float: none; margin-left: 3em; }
  }
}
.customer-address-index {
  .my-account {
    .addresses-list { font-family: inherit; }
    .addresses-list > * { float: none; width: 100%; padding: 0; padding-bottom: 30px; }
    .addresses-list ol {}
    .addresses-list ol li { font-size: 1.4rem; }

    .addresses-primary {}
    .addresses-primary ol { display: flex; }
    .addresses-primary ol li { flex-grow: 1; }
    .addresses-primary h2 { display: none !important; }

    .addresses-list h2 { font-size: 2rem; }
    .addresses-list h3 { font-size: 1.3rem; font-weight: bold; text-transform: none; }
  }
}
.customer-address-form {
  .my-account {
    .fieldset { max-width: 600px }
    .buttons-set { text-align: left; }
    .buttons-set button { float: none; margin-left: 3em; }
  }
}
.customer-account.sales-order-invoice,
.customer-account.sales-order-view {
  #my-orders-table .option-label { color: @gray-light; }
  .order-info-box .box-title h2 { font-size: 1.4rem; }
  .order-info-box .box-content { font-family: inherit; font-size: 1.4rem; }
  .order-info-box + .order-info-box { padding-bottom: 30px; border: none; margin-bottom: 0; }
}





/* -------------------------------------------------- */
/* !- Slick Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; user-select: none; -webkit-touch-callout: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track,
.slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before,
.slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }
.slick-loading .slick-list { background: #fff url('../images/ajax-loader.gif') center center no-repeat; }
.slick-prev,
.slick-next { font-size: 0; line-height: 0; position: absolute; z-index: 1; top: 50%; display: block; padding: 0 5px; transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: none; background: transparent; }
.slick-prev:before,
.slick-next:before { font-size: 30px; line-height: 1; opacity: .5; color: @text-color; }
.slick-prev { .faBefore(angle-left); left: -5px; }
.slick-next { .faBefore(angle-right); right: -5px; }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus { color: transparent; outline: none; background: transparent; }
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before { opacity: .25; }
.slick-dots { position: absolute; bottom: 0; font-size: 0; line-height: 0; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; }
.slick-dots li { position: relative; display: inline-block; margin: 5px 3px; padding: 0; cursor: pointer; }
.slick-dots li button { display: block; width: 10px; height: 10px; font-size: 0; padding: 0; line-height: 0; cursor: pointer; color: transparent; border: 0; outline: none; background-color: transparent; border: 1px solid @text-color; opacity: .5; border-radius: 100px; }
.slick-dots li button:hover,
.slick-dots li button:focus { outline: none; }
.slick-dots li button:hover,
.slick-dots li button:focus { opacity: 1; }
.slick-dots li.slick-active button { background-color: @colorMain; border-color: transparent; opacity: 1; }

.slick-track { display: flex; }
.slick-slide {
  img { font-size:0; } // hide alt text
  img.slick-loading {
    background-image: url(../images/loading.svg) !important; background-size:40px !important; background-position: center center !important; background-repeat: no-repeat !important;
    &::before { content: ""; display: block; padding-bottom: @productViewGalleryHeightRatio; opacity:0; }
  }
}


@media screen and (min-width:@screen-sm-min) {
  .lead { font-size: @font-size-lead; }
}



@media screen and (max-width: 1000px) {
  .product-view .product-collateral {
    margin: 0; padding: 0 @gridGutter;
    .product-collateral-wrap { padding-left: 0; padding-right: 0; }
  }

  .product-pitch .pitch h2 { font-size: 2rem; }
  .product-pitch.sideBySide {
    height: auto; max-height: none;
    .bg-img { background-position: center !important; max-height: 50vh; }
    .bg-img::after { content: ""; display: block; padding-bottom: 60%; }
    .container { padding-bottom: @gridGutter; }
    .pitch { padding: @gridGutter !important; }
  }

}

@media screen and (max-width: 750px) {

  .mobilemenu,
  .mobilemenu-toggle { display: block !important; }

  .page-header {
    .page-header-container { justify-content: center; padding: 0 50px; height: @mobileHeaderHeight; }
    .page-header-container .logo { flex: 0 0 auto; max-width: 200px; padding: 0; }
    #header-nav.top-menu { display: none; }
    .header-right { position: absolute; z-index: 2; right: 0; top: 50%; transform: translate(0,-50%); }
  }

  .full-banner {
    .content {
      h1 { margin: 0; font-size: 3rem; }
      p { display: none; }
    }
  }

  .catalog-category-view {
    .category-products {
      .products-grid > li { width: 50%; }
    }
  }

  .product-view .product-essential {
    form > .product-img-box,
    form > .product-shop { width: 100%; }

    form > .product-img-box { padding: 0 0 @gridGutter; }
    form > .product-shop { padding:0 @gridGutterHalf; }
  }

  .product-view .product-collateral.sideImg {
    .product-collateral-wrap .sideImg { display: none; }
  }

  .product-pitch {
    height: 50vh;
    .container { padding-top: 0; padding-bottom: @gridGutter; }
    .pitch { padding: @gridGutterHalf; }
    .pitch p { font-size: @font-size-base; }
  }

  .product-pitch.sideBySide {
    display: block;
    > * { width: 100%; }
    .bg-img::after { padding-bottom: 70%; }
    .pitch { text-align: center; padding: @gridGutter; padding-top: @gridGutterHalf; max-width: @containerMax/2; margin: 0 auto !important; }
  }


}

@media screen and (max-width: 500px) {

  .page-header {
    .page-header-container .logo { max-width: 175px; }
  }

  .breadcrumbs li:not(:first-child):not(:last-child) { display: none; }

  .full-banner {
    height: 70vw;
    .bg { left: -25%; }
    .bg::before {
      content: ""; display: block; position: absolute; left: 0; top: 0; bottom: 0; right: 0;
      #gradient .horizontal(#000, transparent, 0%, 100%);
    }
    .content {
      padding: 0 0 @gridGutter * 2;
      h1 { font-size: 2.7rem; margin-bottom: 0; }
      h1 div + div { margin-top: 0; }
    }
  }

  .catalog-category-view {
    .category-products {
      .products-grid > li { width: 100%; }
    }
  }

  .product-view .product-essential { margin: 0 -10px; padding-bottom: 40px; }
  .product-view .product-img-box .product-thumbs { display:none; }

}


.geoNotice-GoTo {
  position: fixed; z-index: 9999; top: 0; left: 0; bottom: 0; right:0; transform: translate(0, 0); background-color: rgba(0,0,0,.5);
  display: flex !important; flex-direction: column; align-items: center; justify-content: center;
  .geoNoticeWrap { position: relative; flex:0 0 auto; max-width: 400px; margin: 10px; padding: 10px 0 0 0; border-radius: 5px;
    background-color: #5c92fa; color:#fff; font-size: 16px; text-align: center; box-shadow: 0 5px 30px rgba(0,0,0,.75); }
  .head { font-size: 26px; padding: 20px; margin:0; line-height: 1.1; }
  .head small { display:block; font-size: 16px; color: inherit; text-transform: uppercase; opacity: .9; }
  .head .flag { display: inline-block; width: 32px; height: 18px; background-size: cover; background-repeat: no-repeat; background-position: center; border: 1px solid #eee; border-radius: 2px; }
  .head .country { font-weight: bold; }
  .text { margin: 0; padding: 0 20px; }
  .text a { color: #fff; text-decoration: none; }
  .text a:hover { color: #fff; text-decoration: underline; }
  .text .store-link { display: inline-block; font-weight: bold; }
  .actions { padding-top: 30px; text-align: center; }
  .actions .button { display: block; width:100%; font-weight: bold; padding: 1em; border-color: transparent; color:#5c92fa; background-color: #fff; border-radius: 0 0 5px 5px; }
  .actions .button:focus,
  .actions .button:hover { cursor: pointer; text-decoration: none; background-color: rgba(255,255,255,.2); color: rgba(255,255,255,.97); }
  .actions .button::after { content:"\203A"; padding: 0 4px; }
  .button.btn-dismiss { position: absolute; right: 0; top: 0; font-size:0; background: transparent; border: none; color:#fff; opacity: .5; }
  .button.btn-dismiss:hover { opacity: 1; }
  .button.btn-dismiss::after { content:"\00d7"; display: block; font-size: 24px; line-height: 1; padding:0 6px; }
}

.geoNotice-NoStore {
  display: block !important; position: fixed; z-index: 9999; bottom: 0; left: 0; right:0; transform: translate(0, 0); background-color: #cb0000; color:#fff;
  .geoNoticeWrap { position: relative; flex:0 0 auto; max-width: 700px; margin: 0 auto; padding: 7px 20px 5px; font-size: 12px; }
  p { margin: 0; }
  .button.btn-dismiss { position: absolute; right: 0; top: 50%; transform:translate(0,-50%); font-size:0; background: transparent; border: none; color:#fff; opacity: .5; }
  .button.btn-dismiss:hover { opacity: 1; }
  .button.btn-dismiss::after { content:"\00d7"; display: block; font-size: 24px; line-height: 1; padding:0 5px; }
}
