<?= $this->__('Pay with'); ?>
<svg style="vertical-align:middle; height:1.2em; margin-left:.4em;" viewBox="0 0 180 48" xmlns="http://www.w3.org/2000/svg">
  <g fill="none" fill-rule="evenodd">
    <path d="M23.2 13.1c-.8 5-4.6 5-8.3 5h-2.1l1.5-9.3c0-.6.5-1 1.1-1h1c2.5 0 4.9 0 6.1 1.4.8.9 1 2.2.7 4M21.6 0h-14a2 2 0 0 0-2 1.7L0 37.6c-.1.7.4 1.3 1.2 1.3h6.7a2 2 0 0 0 1.9-1.6l1.5-9.7a2 2 0 0 1 2-1.7h4.4c9.2 0 14.5-4.4 15.9-13.3.6-3.8 0-6.9-1.8-9-2-2.3-5.5-3.6-10.2-3.6zm41.8 13h-6.7c-.5 0-1 .4-1.1 1l-.3 1.8-.5-.7c-1.4-2-4.7-2.8-7.9-2.8-7.4 0-13.7 5.7-15 13.5-.6 4 .3 7.7 2.5 10.3 2 2.4 5 3.4 8.5 3.4 6 0 9.3-3.8 9.3-3.8l-.3 1.9c-.1.7.4 1.3 1.1 1.3h6a2 2 0 0 0 2-1.6l3.6-23c.1-.7-.4-1.3-1.2-1.3zm-9.3 13a7.5 7.5 0 0 1-7.6 6.4c-2 0-3.5-.6-4.5-1.8a5.7 5.7 0 0 1-1-4.7 7.5 7.5 0 0 1 7.5-6.4c1.9 0 3.4.6 4.5 1.8 1 1.2 1.4 2.9 1.1 4.7zm45-13h-6.7a2 2 0 0 0-1.6.8l-9.3 13.7-4-13.1a2 2 0 0 0-1.8-1.4h-6.6c-.8 0-1.4.8-1.1 1.5l7.4 21.8-7 9.8c-.5.8 0 1.9 1 1.9H76a2 2 0 0 0 1.6-.9l22.4-32.3c.5-.8 0-1.8-1-1.8z" fill="#003087"/>
    <path d="M121.5 0h-14a2 2 0 0 0-2 1.7L100 37.6c-.1.7.4 1.3 1.1 1.3h7.2c.7 0 1.3-.5 1.4-1.1l1.6-10.2a2 2 0 0 1 1.9-1.7h4.4c9.2 0 14.6-4.4 16-13.3.6-3.8 0-6.9-1.8-9-2-2.3-5.6-3.6-10.2-3.6zm1.6 13.1c-.8 5-4.6 5-8.3 5h-2.2l1.5-9.3c.1-.6.6-1 1.2-1h1c2.5 0 4.9 0 6.1 1.4.7.9 1 2.2.7 4zm40.2-.1h-6.7c-.6 0-1 .4-1.1 1l-.3 1.8-.5-.7c-1.5-2-4.7-2.8-8-2.8-7.3 0-13.7 5.7-14.9 13.5-.6 4 .3 7.7 2.5 10.3 2 2.4 5 3.4 8.4 3.4 6 0 9.3-3.8 9.3-3.8l-.3 1.9c0 .7.5 1.3 1.2 1.3h6a2 2 0 0 0 2-1.6l3.6-23c0-.7-.5-1.3-1.2-1.3zM154 26a7.5 7.5 0 0 1-7.6 6.4c-2 0-3.5-.6-4.5-1.8a5.7 5.7 0 0 1-1-4.7 7.5 7.5 0 0 1 7.5-6.4c1.9 0 3.4.6 4.4 1.8 1 1.2 1.5 2.9 1.2 4.7zm17.2-25l-5.7 36.6c-.1.7.4 1.3 1.1 1.3h5.8a2 2 0 0 0 2-1.6l5.6-36c.1-.6-.4-1.3-1.2-1.3h-6.4c-.6 0-1.1.4-1.2 1z" fill="#009CDE"/>
  </g>
</svg>
