<?php

$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$_jsonConfig = $this->getJsonConfig();
$_renderers = $this->getChild('attr_renderers')->getSortedChildren();

$childProds = $_product->getTypeInstance(true)->getUsedProductCollection($_product)->addAttributeToSelect('name')->addAttributeToSelect('image');
$prodsJson = [];
foreach( $childProds as $child ) {
  $prodsJson[$child->getId()] = (object) [
    'id' => $child->getId(),
    'name' => $child->getName(),
    'img' => (string) Mage::helper('catalog/image')->init($child, 'image')->resize(1000),
    'thumb' => (string) Mage::helper('catalog/image')->init($child, 'image')->resize(200)
  ];
}
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
  <dl>
  <?php foreach($_attributes as $_attribute): ?>
    <?php
    $_rendered = false;
    foreach ($_renderers as $_rendererName):
      $_renderer = $this->getChild('attr_renderers')->getChild($_rendererName);
      if (method_exists($_renderer, 'shouldRender') && $_renderer->shouldRender($_attribute, $_jsonConfig)):
        $_renderer->setProduct($_product);
        $_renderer->setAttributeObj($_attribute);
        echo $_renderer->toHtml();
        $_rendered = true;
        break;
      endif;
    endforeach;

    if (!$_rendered):
      $attrId = $_attribute->getAttributeId();
    ?>
    <dt><label class="required"><em>*</em><?= $_attribute->getLabel() ?></label></dt>
    <dd>
      <div class="input-box">
        <select name="super_attribute[<?= $attrId ?>]" id="attribute<?= $attrId ?>" data-attrid="<?= $attrId ?>" class="required-entry super-attribute-select">
          <option><?= $this->__('Choose an Option...') ?></option>
        </select>
      </div>
    </dd>
    <?php endif; ?>
  <?php endforeach; ?>
  </dl>
  <script type="text/javascript">
    var spConfig = new Product.Config(<?= $_jsonConfig ?>);
    //spConfig.attrsImgs = ['styleshell_color'];
    spConfig.prodsData = JSON.parse('<?= json_encode($prodsJson); ?>');
  </script>
  <?= $this->getChildHtml('after') ?>

<?php endif;?>
