<?php
if( $this->getItems()->getSize() == 0 ) return;

$_helper = $this->helper('catalog/output');
$_hImg = $this->helper('catalog/image');
$_imgSize = 1000;

?>
<section class="related-products">
  <h2>
    <span><?= $this->__('Related Products') ?>
  </h2>

  <ul class="products-grid">
  <?php foreach( $this->getItems() as $_product ) : ?>
    <?php
    // Load same image used on PDP. File size increases a bit, but when PDP opens image is already cached.
      $_product->load('image');
      $prodUrl = $_product->getProductUrl();
    ?>

    <li class="item">
      <article class="item-wrap">
        <a href="<?= $prodUrl ?>" class="product-image">
          <span class="img b-lazy" data-src="<?= $_hImg->init($_product, 'image')->resize($_imgSize); ?>"></span>
        </a>
        <div class="product-info">
          <h3 class="product-name">
            <a href="<?= $prodUrl ?>"><?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
          </h3>

          <?= $this->getPriceHtml($_product, true) ?>

          <div class="actions">
          <?php if( $_product->isSaleable() ): ?>
            <a class="button" href="<?= $prodUrl ?>"><?= $this->__('Buy Now') ?></a>
          <?php else: ?>
            <p class="button availability out-of-stock"><span><?= $this->__('Out of stock') ?></span></p>
          <?php endif; ?>
          </div>
        </div><?php // .product-info ?>
        </article>
    </li>
  <?php endforeach ?>
  </ul>
</section>
