<?php
/**
 * Product list toolbar
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */
?>
<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
  <?php if( $this->isExpanded() ): ?>
    <div class="sorter">

      <?php $_modes = $this->getModes(); ?>
      <?php if( $this->isEnabledViewSwitcher() && count($_modes) > 0 ): ?>
        <div class="view-mode">
          <span><?= $this->__('View as') ?></span>
          <?php foreach( $this->getModes() as $_code => $_label ) : ?>
            <?php if($this->isModeActive($_code)): ?>
              <strong class="<?= strtolower($_code); ?>"><?= $_label ?></strong>
            <?php else: ?>
              <button class="<?= strtolower($_code); ?>" onclick="setLocation('<?= $this->getModeUrl($_code) ?>')"><?= $_label ?></button>
            <?php endif; ?>
          <?php endforeach; ?>
        </div>
      <?php endif; ?>

      <div class="sort-by">
        <label><?= $this->__('Sort By') ?></label>
        <select onchange="setLocation(this.value)" title="<?= Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>">
        <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
          <option value="<?= $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
            <?= $this->__($_order) ?>
          </option>
        <?php endforeach; ?>
        </select>
        <?php
          $dirAlt = $this->getCurrentDirection() == 'desc' ? 'asc' : 'desc';
          $dirAltLbl = $dirAlt == 'desc' ? 'Set Ascending Direction' : 'Set Descending Direction';
          $dirAltUrl = $this->getOrderUrl(null, $dirAlt);
        ?>
          <button onclick="setLocation('<?= $dirAltUrl ?>')" class="sort-dir-<?= $dirAlt ?>"><?= $this->__($dirAltLbl) ?></button>
        </div><?php // .sort-by ?>

    </div>
  <?php endif; ?>
  <div class="pager">
    <div class="count-container">
      <?php if($this->getLastPageNum()>1): ?>
        <p class="amount amount--has-pages">
          <?= $this->__('%s-%s of %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        </p>
      <?php else: ?>
        <p class="amount amount--no-pages">
          <strong><?= $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        </p>
      <?php endif; ?>

      <div class="limiter">
        <label><?= $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)" title="<?= Mage::helper('core')->quoteEscape($this->__('Results per page')); ?>">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
          <option value="<?= $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
            <?= $_limit ?>
          </option>
        <?php endforeach; ?>
        </select>
      </div>
    </div>

    <?= $this->getPagerHtml() ?>

  </div>
</div>
<?php endif ?>
