<?php

// Motorola M logo ?>
<svg class="motorola-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
	<path d="M52.5 47L41 9l-8.9 29.7-.1.1-.1-.1L23 9 11.5 47h2.2s1.5-6.6 3.8-10.6c1.3-2.1 3.3-3.9 5.9-3.9 1.9 0 3.5 1.1 5.5 3.9 1.2 1.7 3.1 6 3.1 6s1.9-4.3 3.1-6c2-2.8 3.6-3.9 5.5-3.9 2.6 0 4.6 1.7 5.9 3.9 2.4 4 3.8 10.6 3.8 10.6h2.2zM64 32c0 17.7-14.3 32-32 32S0 49.7 0 32 14.3 0 32 0s32 14.3 32 32z"/>
</svg>

