
@font-face {
	font-family: 'Gotham';
	src: local('Gotham Light'), local('GothamLight'),
		url('@{pathToFonts}gotham/GothamLight.woff2') format('woff2'),
		url('@{pathToFonts}gotham/GothamLight.woff') format('woff'),
		url('@{pathToFonts}gotham/GothamLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: local('Gotham Light Italic'), local('GothamLight-Italic'),
		url('@{pathToFonts}gotham/GothamLight-Italic.woff2') format('woff2'),
		url('@{pathToFonts}gotham/GothamLight-Italic.woff') format('woff'),
		url('@{pathToFonts}gotham/GothamLight-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('@{pathToFonts}gotham/GothamBook.woff2') format('woff2'),
			 url('@{pathToFonts}gotham/GothamBook.woff') format('woff'),
			 url('@{pathToFonts}gotham/GothamBook.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('@{pathToFonts}gotham/GothamBook-Italic.woff2') format('woff2'),
			 url('@{pathToFonts}gotham/GothamBook-Italic.woff') format('woff'),
			 url('@{pathToFonts}gotham/GothamBook-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}


@font-face {
	font-family: 'Gotham';
	src: url('@{pathToFonts}gotham/GothamMedium.woff2') format('woff2'),
			 url('@{pathToFonts}gotham/GothamMedium.woff') format('woff'),
			 url('@{pathToFonts}gotham/GothamMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('@{pathToFonts}gotham/GothamMedium-Italic.woff2') format('woff2'),
			 url('@{pathToFonts}gotham/GothamMedium-Italic.woff') format('woff'),
			 url('@{pathToFonts}gotham/GothamMedium-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: local('Gotham Bold'), local('GothamBold'),
		url('@{pathToFonts}gotham/GothamBold.woff2') format('woff2'),
		url('@{pathToFonts}gotham/GothamBold.woff') format('woff'),
		url('@{pathToFonts}gotham/GothamBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: local('Gotham Bold Italic'), local('GothamBold-Italic'),
		url('@{pathToFonts}gotham/GothamBold-Italic.woff2') format('woff2'),
		url('@{pathToFonts}gotham/GothamBold-Italic.woff') format('woff'),
		url('@{pathToFonts}gotham/GothamBold-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
