
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/ptsans/v8/S1YQx4pVZa17uu0HWQd2fA.eot');
  src: url('//fonts.gstatic.com/s/ptsans/v8/S1YQx4pVZa17uu0HWQd2fA.eot?#iefix') format('embedded-opentype'),
       local('PT Sans'),
       local('PT-Sans-regular'),
       url('//fonts.gstatic.com/s/ptsans/v8/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/ptsans/v8/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
       url('//fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=-W_xG__5QLePeHob2L7z1Q#PTSans') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNFQlYEbsez9cZjKsNMjLOwM.eot');
  src: url('//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNFQlYEbsez9cZjKsNMjLOwM.eot?#iefix') format('embedded-opentype'),
       local('PT Sans Bold'),
       local('PT-Sans-700'),
       url('//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNAzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff'),
       url('//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=0XxGQsSc1g4rdRdjJKZrNKWUboTb-jS2tyCOQMtm97g#PTSans') format('svg');
}

