@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot');
  src: url('//fonts.gstatic.com/s/raleway/v11/JDau3G46nqY5-B-S9E_nwg.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('//fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/raleway/v11/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
       url('//fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v11#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI1QlYEbsez9cZjKsNMjLOwM.eot');
  src: url('//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI1QlYEbsez9cZjKsNMjLOwM.eot?#iefix') format('embedded-opentype'),
       local('Raleway Bold'),
       local('Raleway-700'),
       url('//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff') format('woff'),
       url('//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=JbtMzqLaYbbbCL9X6EvaI6WUboTb-jS2tyCOQMtm97g&skey=e507c3e2b7915ad1&v=v11#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriVQlYEbsez9cZjKsNMjLOwM.eot');
  src: url('//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriVQlYEbsez9cZjKsNMjLOwM.eot?#iefix') format('embedded-opentype'),
       local('Raleway Light'),
       local('Raleway-300'),
       url('//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff'),
       url('//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=-_Ctzj9b56b8RgXW8FAriaWUboTb-jS2tyCOQMtm97g&skey=f383b08b06c2c86f&v=v11#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T81QlYEbsez9cZjKsNMjLOwM.eot');
  src: url('//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T81QlYEbsez9cZjKsNMjLOwM.eot?#iefix') format('embedded-opentype'),
       local('Raleway Medium'),
       local('Raleway-500'),
       url('//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8wzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T873hpw3pgy2gAi-Ip7WPMi0.woff') format('woff'),
       url('//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8y3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=CcKI4k9un7TZVWzRVT-T86WUboTb-jS2tyCOQMtm97g&skey=91a0260e01fd7629&v=v11#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b1QlYEbsez9cZjKsNMjLOwM.eot');
  src: url('//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b1QlYEbsez9cZjKsNMjLOwM.eot?#iefix') format('embedded-opentype'),
       local('Raleway SemiBold'),
       local('Raleway-600'),
       url('//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2'),
       url('//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff') format('woff'),
       url('//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12by3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'),
       url('//fonts.gstatic.com/l/font?kit=xkvoNo9fC8O2RDydKj12b6WUboTb-jS2tyCOQMtm97g&skey=484edb0fdce88a64&v=v11#Raleway') format('svg');
}
