<?php

$prods = $this->getLoadedProductCollection();
if( $prods->getSize() == 0 ) return;

$_helper = $this->helper('catalog/output');
$_hImg = $this->helper('catalog/image');

$limit = $this->getProdsLimit();
if( empty($limit) ) $limit = 10;
$i = 1;

?>

<div class="products-grid">
  <?php foreach( $prods AS $prod ) { ?>
  <div class="item">
    <div class="item-wrap">
      <a href="<?= $prod->getProductUrl() ?>" class="product-image">
        <span class="img b-lazy" data-src="<?= $_hImg->init($prod, 'small_image')->resize(500); ?>"></span>
      </a>
      <div class="product-info">
        <h2 class="product-name">
          <?= $_helper->productAttribute($prod, $prod->getName(), 'name') ?>
        </h2>
        <div class="product-desc">
          <?= $_helper->productAttribute($prod, $prod->getShortDescription(), 'short_description') ?>
        </div>
        <div class="actions">
        <?php if( ! $prod->canConfigure() && $prod->isSaleable() ) { ?>
          <button type="button" class="button btn-cart" onclick="setLocation('<?= $this->getAddToCartUrl($prod) ?>')">
            <span><span><?= $this->__('Add to Cart') ?></span></span>
          </button>
        <?php } ?>
        </div>
      </div>
    </div>
  </div>

  <?php
    if( $i == $limit ) break;
    $i++;
  ?>

  <?php } ?>
</ul>
