<?php

  $parent = Mage::registry('current_category');
  if ($parent) {
    $children = Mage::getModel('catalog/category')->getCollection()->setStoreId(Mage::app()->getStore()->getId());
    $children->addAttributeToSelect('*')->addAttributeToFilter('parent_id', $parent->getId())->addAttributeToFilter('is_active', 1)->addAttributeToSort('position');

  } else {
    $childrenIds = array();
  }

  $blocks = [];
?>
<div class="container">
  <?= $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<?php foreach( $children as $child ) : ?>

  <div class="items wd-moto-tpl-cat-categ-child-cat-prod" style="margin-top:50px;">
  <?php
    $block = $this->getLayout()->createBlock('catalog/product_list')
      ->setTemplate('catalog/product/nested_list.phtml')
      ->setCategoryId($child->getId())
      ->setHideCategTitle($this->getHideCategTitle());
    $blocks[$child->getName()] = $block;
  ?>
  <?= $block->toHtml(); ?>
  </div>

<?php endforeach;

if (count($blocks) > 0) {
  Mage::register('category_child_collection', $blocks);
}
