<?php
  $_helper    = $this->helper('catalog/output');
  $_category  = $this->getCurrentCategory();
  $_imgUrl   = $_category->getImageUrl();
  $_headerSection = $_category->getHeaderSection();

if($_imgUrl) { ?>

  <div class="category-banner full-banner">
    <div class="bg b-lazy" data-src="<?= $_imgUrl ?>"></div>
    <div class="content">
    <?php if( !empty($_headerSection) ) { ?>
      <div class="container header-section">
        <?= Mage::helper('cms')->getPageTemplateProcessor()->filter($_headerSection); ?>
      </div>
    <?php } else { ?>
      <div class="container cat-title">
        <h1><?= $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
      </div>
    </div>
    <?php } ?>
  </div>

<?php } ?>
