<?php
  $_helper = $this->helper('catalog/output');
  $_category = $this->getCurrentCategory();
  $_desc = $_category->getDescription();
  $_imgUrl = $_category->getImageUrl();
?>
<div class="category-view">

  <?php if( ! $_imgUrl && strpos($_desc, '<h1>') === FALSE ) { ?>
  <div class="page-title category-title">
    <h1><?= $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
  </div>
  <?php } ?>

  <?= $this->getMessagesBlock()->toHtml() ?>

  <?php if( $_desc ) : ?>
    <div class="category-description std">
      <?= $_helper->categoryAttribute($_category, $_desc, 'description') ?>
    </div>
  <?php endif; ?>

  <?php if($this->isContentMode()): ?>
    <?= $this->getCmsBlockHtml() ?>

  <?php elseif($this->isMixedMode()): ?>
    <?= $this->getCmsBlockHtml() ?>
    <?= $this->getProductListHtml() ?>

  <?php else: ?>
    <?= $this->getProductListHtml() ?>
  <?php endif; ?>

</div>
