<?php
	$_links = $this->getLinks();

/*
	Add or Remove Account Left Navigation Links Here

	Comment out the links to SHOW.
*/

#	unset($_links['account']); /* Account Info */
#	unset($_links['account_edit']); /* Account Info */
	unset($_links['tags']); /* My Tags */
	unset($_links['invitations']); /* My Invitations */
	unset($_links['reviews']);  /* Reviews */
	unset($_links['wishlist']); /* Wishlist */
	unset($_links['newsletter']); /* Newsletter */
#	unset($_links['orders']); /* My Orders */
#	unset($_links['address_book']); /* Address */
	unset($_links['enterprise_customerbalance']); /* Store Credit */
	unset($_links['OAuth Customer Tokens']); /* My Applications */
	unset($_links['enterprise_reward']); /* Reward Points */
	unset($_links['giftregistry']); /* Gift Registry */
	unset($_links['downloadable_products']); /* My Downloadable Products */
	unset($_links['recurring_profiles']); /* Recurring Profiles */
	unset($_links['billing_agreements']); /* Billing Agreements */
	unset($_links['enterprise_giftcardaccount']); /* Gift Card Link */

?>
<div class="block block-account">
	<div class="block-title">
		<strong><span><?= $this->__('My Account'); ?></span></strong>
	</div>
	<div class="block-content">
		<ul>
		<?php foreach( $_links as $_link ) : ?>
			<?php
				$liClass = ($this->isActive($_link)) ? 'current' : '';
				$aHref = ($this->isActive($_link)) ? 'javascript:;' : $_link->getUrl();
			?>
				<li class="<?= $liClass ?>">
					<a href="<?= $aHref ?>"><?= $_link->getLabel() ?></a>
				</li>
			<?php endforeach; ?>
			
				<li class="logout">
					<a href="<?= $this->getUrl('customer/account/logout') ?>"><?= $this->__('Log Out') ?></a>
				</li>
		</ul>
	</div>
</div>

