
<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="180x180" href="<?= $this->getSkinUrl('favicons/apple-touch-icon.png') ?>">
<link rel="icon" type="image/png" href="<?= $this->getSkinUrl('favicons/favicon-32x32.png') ?>" sizes="32x32">
<link rel="icon" type="image/png" href="<?= $this->getSkinUrl('favicons/favicon-16x16.png') ?>" sizes="16x16">
<link rel="shortcut icon" href="<?= $this->getSkinUrl('favicons/favicon.ico') ?>">
<link rel="manifest" href="<?= $this->getSkinUrl('favicons/manifest.json') ?>">
