<?php
  $footerLeft = $this->getChildHtml('footer_left');
  $footerMiddle = $this->getChildHtml('footer_middle');
  $footerRight = $this->getChildHtml('footer_right');
?>
<div class="footer-container">
  <div class="footer">
    <div class="container">
      <div class="footer-cols">
        <?php if( $footerLeft ) { ?>
          <div class="footer-col-left"><?= $footerLeft ?></div>
        <?php } ?>
        <?php if( $footerMiddle ) { ?>
          <div class="footer-col-mid"><?= $footerMiddle ?></div>
        <?php } ?>
        <?php if( $footerRight ) { ?>
          <div class="footer-col-right"><?= $footerRight ?></div>
        <?php } ?>
      </div>
      <div class="footer-copy">
        <?= $this->getCopyright() ?>
      </div>
    </div>
  </div>
</div>
