<?php
/*
------------------------------------------------------
Category View Tweaks
*/
$head = $this->getHeadBlock();
$request = $head->getRequest();
$requestPath = rtrim($request->getPathInfo(), '/');
$homePath = rtrim(Mage::getStoreConfig('web/default/front'), '/');
$fullActionName = Mage::app()->getFrontController()->getAction()->getFullActionName();
$appliedLayoutHandles = $this->getLayout()->getUpdate()->getHandles();
$currentUrl = $head->getUrl('*/*/*', array('_current'=>true, '_use_rewrite'=>true));
$baseUrl = $head->getUrl('');

if( 'catalog_category_view' == $fullActionName ) {
  $currentCategory = Mage::registry('current_category');
  $paged = $request->getParam('p', false);
  $limited = $request->getParam('limit', false);
  $sorted = $request->getParam('order', false);
  $moded = $request->getParam('mode', false);
  if( $paged || $limited || $sorted || $moded ) {
    $head->setMetaRobots('NOINDEX,FOLLOW');
  }

  if( $baseUrl == $currentUrl ) {
    // At Homepage. Category as homepage. Ensure Canonical is set to baseUrl
    $head->removeItem('link_rel', $currentCategory->getUrl() );
    //$head->addLinkRel('canonical', $baseUrl);
    $head->setMetaRobots('INDEX,FOLLOW');
  } elseif( $currentCategory->getUrl() == $currentUrl && $requestPath == $homePath ) {
    // At category set to Home but not at $baseUrl. Canonical should be baseUrl
    //$head->removeItem('link_rel', $currentCategory->getUrl());
    $head->addLinkRel('canonical', $baseUrl);
    $head->setMetaRobots('NOINDEX,FOLLOW');
  }


  $children = explode(',', $currentCategory->getChildren());
  $categs = count($children) == 0 ? array() : $children;
  array_unshift($categs, $currentCategory->getId());
  $prods = array();
  foreach($categs AS $catId) {
    $catProducts = Mage::getModel('catalog/category')->load($catId)
      ->getProductCollection()
      ->addUrlRewrite($catId)
      ->addAttributeToFilter('status', 1)
      ->addAttributeToFilter('visibility', 4);
    foreach($catProducts AS $p) {
      if( !empty($prods[$p->getId()]) ) continue; // same product
      $prods[$p->getId()] = $p->getProductUrl();
    }
  }
  $maxK = count($prods) - 1;
?>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"ItemList",
  "itemListElement":[
<?php
  $k = 0;
  foreach( $prods AS $url ) : ?>
    {"@type":"ListItem", "position":<?= $k + 1 ?>, "url":"<?= $url ?>"}<?= ($k < $maxK) ? ",\n" : "\n";
    $k++;
  endforeach; ?>
  ]
}
</script>
<?php
}




/*
------------------------------------------------------
Page Title Tweaks
Use the following XML to set no-suffix
<reference name="head">
  <action method="setNoSuffix"><value>1</value></action>
</reference>
*/
$pageTitle = $head->getTitle();
$suffix = Mage::getStoreConfig('design/head/title_suffix');
if( $metaTitle = $head->getMetaTitle() ) {
  $pageTitle = htmlspecialchars(strip_tags($metaTitle)) . $suffix;
} else if( 'cms_index_defaultNoRoute' == $fullActionName ) {
  $pageTitle = $this->__('Page not found') . $suffix;
}

if( (bool) $head->getNoSuffix() ) {
  $pageTitle = preg_replace('/'.preg_quote($suffix, '/').'$/', '', $pageTitle);
}

// Alex: Quick hack to remove " | Motorolahome.com" from titles (because there were too many to do one-by-one
$pageTitle = str_replace(' | Motorolahome.com', '', $pageTitle);
?>
<title><?= trim(str_replace('™', '', $pageTitle)) ?></title>


<?php
/*
------------------------------------------------------
Meta Description Tweaks
*/
$metaDesc = strip_tags($head->getDescription());
if( $metaDesc != '' ) : ?>
<meta name="description" content="<?= htmlspecialchars($metaDesc) ?>" />
<?php endif ?>


<?php
/*
------------------------------------------------------
Meta Keywords Tweaks
*/
$metaKeywords = strip_tags($head->getKeywords());
if( $metaKeywords != '' ) : ?>
<meta name="keywords" content="<?= htmlspecialchars($metaKeywords) ?>" />
<?php endif ?>


<?php
/*
------------------------------------------------------
Meta Robots Tweaks
The page handles set in $noIndexFollow are problematic for SEO and should be kept out of SERPs
Use the following XML to force robots:
<reference name="head">
  <action method="setMetaRobots"><value>INDEX,FOLLOW</value></action>
</reference>
*/
$noIndexFollow = [
  'cms_index_noCookies',
  'cms_index_noRoute',
  'cms_index_defaultNoRoute',
  'customer_account_create',
  'customer_account_login',
  'customer_account_forgotpassword',
  'checkout_cart_index',
  'checkout_cart_configure',
  'checkout_onepage_index',
  'catalogsearch_result_index',
  'catalogsearch_advanced_index',
  'catalogsearch_advanced_result',
  'contacts_index_index',
  'review_product_list',
  'review_product_view',
  'sendfriend_product_send',
  'catalog_seo_sitemap',
  'catalog_seo_sitemap_category',
  'catalog_seo_sitemap_category_tree',
  'catalog_seo_sitemap_product',
  'catalog_product_gallery',
  'catalog_category_layered',
];

if( in_array('support_category_view', $appliedLayoutHandles) ) {
  $head->setMetaRobots('INDEX,FOLLOW');
}

if( $head->getMetaRobots() ) {
  $head->setRobots($head->getMetaRobots());

} else if( in_array($fullActionName, $noIndexFollow) ) {
  $head->setRobots('NOINDEX,FOLLOW');

}

$metaRobots = $head->getRobots();
if( $metaRobots != '' ) : ?>
<meta name="robots" content="<?= htmlspecialchars($metaRobots) ?>" />
<?php endif; ?>
