<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<?= $this->getLayout()->createBlock('core/template')->setTemplate('page/html/head_meta.phtml')->setHeadBlock($this)->toHtml(); ?>

<?php /*
>> Favicons loaded from favicons.phtml in getChildHtml below
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
*/ ?>


<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//img.ebuynow.com">
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">


<?= $this->getCssJsHtml() ?>
<?= $this->getChildHtml() ?>
<?= $this->helper('core/js')->getTranslatorScript() ?>
<?= $this->getIncludes() ?>
