<?php

  $ebnmage = Mage::helper('ebn_magetheme');
  $allowSales = $ebnmage->allowSales();
  $allowLogin = $ebnmage->allowLogin();

  $logoUrl = $this->getUrl('');
  $customLogoUrl = Mage::getStoreConfig('design/header/logourl');
  if( filter_var($customLogoUrl, FILTER_VALIDATE_URL) ) {
    $logoUrl = $customLogoUrl;
  }

  $topBarLeft = $this->getChildHtml('topBarLeft');
  $topBarMid = $this->getChildHtml('topBarMiddle');
  $topBarRight = $this->getChildHtml('topBarRight');
  $hasTopBar = ! empty($topBarLeft) || ! empty($topBarMid) || ! empty($topBarRight);

?>

<?php if( $hasTopBar ) { ?>
  <div class="topbar">
  <?php if( ! empty($topBarLeft) ) { ?>
    <div class="topbar-left"><?= $topBarLeft ?></div>
  <?php } ?>
  <?php if( ! empty($topBarMid) ) { ?>
    <div class="topbar-mid"><?= $topBarMid ?></div>
  <?php } ?>
  <?php if( ! empty($topBarRight) ) { ?>
    <div class="topbar-right"><?= $topBarRight ?></div>
  <?php } ?>
  </div>
<?php } ?>

<header id="header" class="page-header">
  <div class="container page-header-container">
    <a class="logo" href="<?= $logoUrl ?>">
      <span class="logo-img" style="background-image: url(<?= $this->getLogoSrc() ?>);"></span>
    </a>

    <?php // Navigation ?>
    <div id="header-nav" class="top-menu">
      <?= $this->getChildHtml('topMenu') ?>
    </div>

    <div class="header-right">
      <?php // Cart ?>
      <?php if( $allowSales ) { ?>
      <div class="header-minicart">
        <?= $this->getChildHtml('minicart_head'); ?>
      </div>
      <?php } ?>

      <?php // Account ?>
      <?php if( $allowLogin ) { ?>
      <div id="header-account" class="header-account">
        <a href="javascript:;" class="skip-link" data-target-element="#header-account .user-links">
          <i class="fa fa-user"></i>
        </a>
        <div class="user-links skip-content">
          <?= $this->getChildHtml('topLinks') ?>
        </div>
      </div>
      <?php } ?>

      <?php // Top Flag ?>
      <?= $this->getLayout()->createBlock('page/switch')->setTemplate('page/switch/stores.phtml')->toHtml(); ?>

    </div>

  </div>

</header>

<?= $this->getChildHtml('topContainer'); ?>
