
<div class="mobilemenu-toggle" style="display:none" data-appendto=".page > .page-header">
  <span></span>
</div>
<div class="mobilemenu" style="display:none">
  <div class="mobilemenu-content">
  <?php foreach( $this->getSortedChildren() as $blockName ) {
    $block = $this->getLayout()->getBlock($blockName);
    if( ! $block ) continue;
  ?>

    <div class="mobilemenu-block <?= preg_replace('/[^A-Za-z0-9-]+/', '-', $blockName) ?>">
      <?= $block->toHtml() ?>
    </div>

  <?php } ?>
  </div>
</div>

