<?php

$_product = $this->getProduct();
$ebnmage = $this->helper('ebn_magetheme');
$allowSales = $ebnmage->allowSales();

?>
<?php $buttonTitle = Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>
<?php if( $allowSales && $_product->isSaleable() ) : ?>
  <div class="add-to-cart">
  <?php if( ! $_product->isGrouped() ): ?>
    <div class="qty-wrapper">
      <label for="qty"><?= $this->__('Qty:') ?></label>
      <input type="text" pattern="\d*(\.\d+)?" name="qty" id="qty" maxlength="12" value="<?= $this->getProductDefaultQty() * 1 ?>" title="<?= Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
    </div>
  <?php endif; ?>
    <div class="add-to-cart-buttons">
      <button type="button" title="<?= $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?= $buttonTitle ?></span></span></button>
      <?= $this->getChildHtml('', true, true) ?>
    </div>
  </div>
<?php endif; ?>
