<?php
  $_product = $this->getProduct();
  $imgHelper = $this->helper('catalog/image');
  $i = 0;
?>

<div class="product-image-gallery">
<?php foreach($this->getGalleryImages() as $_image) { ?>
  <?php
    if( ! $this->isGalleryImageVisible($_image) ) continue;
    $imgObj = $imgHelper->init($_product, 'image', $_image->getFile());
    $imgUrl = (string) $imgObj->resize(1000);
    $i++;
  ?>
  <div class="img">
    <div class="img-wrap">
    <?php if( $i == 1 ) { ?>
      <img src="<?= $imgUrl ?>" data-url="<?= $imgUrl ?>" alt="<?= $this->escapeHtml($_image->getLabel()) ?>" />
    <?php } else { ?>
      <img data-lazy="<?= $imgUrl ?>" data-url="<?= $imgUrl ?>" alt="" />
    <?php } ?>
    </div>
  </div>
<?php } ?>
</div>

<?= $this->getChildHtml('after'); ?>
