<?php

$couponCode = $this->getCouponCode();

?>
<form id="discount-coupon-form" class="discount-form <?= strlen($couponCode) ? 'active' : '' ?>" action="<?= $this->getFormActionUrl() ?>" method="post">
  <div>
    <a class="toggle" href="#discount-coupon-form" onclick="$('discount-coupon-form').toggleClassName('active'); return false;">
      <?= $this->__('I have a promo code'); ?>
    </a>
    <div class="fields">
      <div class="input-box">
        <input class="input-text" type="text" id="coupon_code" name="coupon_code" value="<?= $this->escapeHtml($couponCode) ?>" />
      <?php if( ! strlen($couponCode) ) : ?>
        <button type="button" class="button button2" onclick="discountForm.submit(false)">
          <span><span><?= $this->__('Apply') ?></span></span>
        </button>
      <?php else : ?>
        <button type="button" class="button button2 cancel-coupon" onclick="discountForm.submit(true)">
          <span><span><?= $this->__('Cancel') ?></span></span>
        </button>
      <?php endif; ?>
      </div>
    </div>
  </div>
  <input type="hidden" name="remove" id="remove-coupone" value="0" />
</form>
<script type="text/javascript">
//<![CDATA[
var discountForm = new VarienForm('discount-coupon-form');
discountForm.submit = function (isRemove) {
  if (isRemove) {
    $('coupon_code').removeClassName('required-entry');
    $('remove-coupone').value = "1";
  } else {
    $('coupon_code').addClassName('required-entry');
    $('remove-coupone').value = "0";
  }
  return VarienForm.prototype.submit.bind(discountForm)();
}
//]]>
</script>
