<?php
/**
 * Cart cross sell items template
 * @see Mage_Checkout_Block_Cart_Crosssell
 */

$_helper = $this->helper('catalog/output');
$_hImg = $this->helper('catalog/image');
$_imgSize = 1000;

if( ! $this->getItemCount() ) return;

?>
<div class="cart-crosssell">
  <div class="title h4"><?= $this->__('Based on your selection, you may be interested in the following items:') ?></div>
  <div class="products-grid">
  <?php foreach( $this->getItems() as $_item ) : ?>
    <?php $_item->load('image'); ?>
    <div class="item">
      <div class="item-wrap">
        <a class="product-image" href="<?= $_item->getProductUrl() ?>">
          <span class="img b-lazy" data-src="<?= $_hImg->init($_item, 'image')->resize($_imgSize); ?>"></span>
        </a>
        <div class="product-info">
          <h3 class="product-name"><a href="<?= $_item->getProductUrl() ?>"><?= $this->escapeHtml($_item->getName()) ?></a></h3>
          <?= $this->getPriceHtml($_item, true) ?>
          <div class="actions">
            <button type="button" class="button btn-cart" onclick="setLocation('<?= $this->getAddToCartUrl($_item) ?>')">
              <span><span><?= $this->__('Add to Cart') ?></span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  <?php endforeach; ?>
</div>
  <?php // <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script> ?>
</div>
