<?php
  $_cartQty = $this->getSummaryCount();
  if(empty($_cartQty)) {
    $_cartQty = 0;
  }
?>

<a href="<?= $this->helper('checkout/cart')->getCartUrl(); ?>" data-target-element="#header-cart" class="skip-link skip-cart <?= ($_cartQty <= 0) ? 'no-count' : '' ?>">
  <span class="icon"></span>
  <span class="count"><?= $_cartQty; ?></span>
</a>

<div id="header-cart" class="block block-cart skip-content">
  <?= $this->getChildHtml('minicart_content');?>
</div>
