<div class="checkout-cart-empty">
  <div class="page-title">
    <h1><?= $this->__('Shopping Cart') ?></h1>
  </div>
  <div class="cart-empty">
    <?= $this->getMessagesBlock()->toHtml() ?>
    <?= $this->getChildHtml('checkout_cart_empty_widget'); ?>
    <p class="lead"><?= $this->__('You have no items in your shopping cart.') ?></p>
    <p>
      <a href="<?= Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>" class="button">
        <?= $this->__('Continue shopping') ?>
      </a>
    </p>
    <?= $this->getChildHtml('shopping.cart.table.after'); ?>
  </div>
</div>
