<?php /** @var $this Mage_Checkout_Block_Cart_Shipping */ ?>
<div class="shipping">
  <h2><?= $this->__('Estimate Shipping') ?></h2>
  <div class="shipping-form">
    <?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
    <form id="co-shipping-method-form" action="<?= $this->getUpdateFormActionUrl() ?>">
      <dl class="sp-methods">
      <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><?= $this->escapeHtml($this->getCarrierName($code)) ?></dt>
        <dd>
          <ul>
          <?php foreach ($_rates as $_rate): ?>
            <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
            <?php if ($_rate->getErrorMessage()): ?>
              <?= $this->escapeHtml($_rate->getErrorMessage()) ?>
            <?php else: ?>
              <input name="estimate_method" type="radio" value="<?= $this->escapeHtml($_rate->getCode()) ?>" id="s_method_<?= $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
              <label for="s_method_<?= $_rate->getCode() ?>">
                <span class="method-title"><?= $this->escapeHtml($_rate->getMethodTitle()) ?></span>
                <span class="method-price">
                  <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                  <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                  <?= $_excl; ?>
                  <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    <small>(<?= $this->__('Incl. Tax'); ?> <?= $_incl; ?>)</small>
                  <?php endif; ?>
                </span>
            </label>
            <?php endif ?>
            </li>
          <?php endforeach; ?>
          </ul>
        </dd>
      <?php endforeach; ?>
      </dl>
      <div class="buttons-set">
        <button type="submit" class="button" name="do" value="<?= $this->__('Update Total') ?>">
          <span><span><?= $this->__('Set Shipping') ?></span></span>
        </button>
      </div>
    </form>
    <?php else : ?>
      <p>No shipping...</p>
    <?php endif; ?>
    <script type="text/javascript">
    //<![CDATA[
      var coShippingMethodForm = new VarienForm('shipping-zip-form');
      var countriesWithOptionalZip = <?= $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;

      coShippingMethodForm.submit = function () {
        var country = $F('country');
        var optionalZip = false;

        for (i=0; i < countriesWithOptionalZip.length; i++) {
          if (countriesWithOptionalZip[i] == country) {
            optionalZip = true;
          }
        }
        if (optionalZip) {
          $('postcode').removeClassName('required-entry');
        }
        else {
          $('postcode').addClassName('required-entry');
        }
        return VarienForm.prototype.submit.bind(coShippingMethodForm)();
      }
    //]]>
    </script>
  </div>
</div>
