<?php
/**
 * Shopping cart totals template
 * @see Mage_Checkout_Block_Cart_Totals
 * @var $this Mage_Checkout_Block_Cart_Totals
 */

$cart = Mage::getModel('checkout/cart')->getQuote();
$_taxHelper = Mage::helper('tax');
$origTotal = 0;
$discTotal = 0;
foreach( $cart->getAllItems() as $item ) {
  $_product = $item->getProduct();
  $origTotal += $item->getQty() * $_taxHelper->getPrice($_product, $_product->getPrice(), true);
  $discTotal += $item->getQty() * $_taxHelper->getPrice($_product, $_product->getFinalPrice(), true);
}
$savings = $origTotal - $discTotal;
$savingsPercent = round($savings / $origTotal, 2) * 100;

if ($this->canApplyMsrp()): ?>
  <div class="cart-msrp-totals">
    <?= $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?>
  </div>
<?php else: ?>
  <table id="shopping-cart-totals-table">
    <col />
    <col width="1" />
    <tfoot>
      <?php $grandTotal = $this->renderTotals('footer'); ?>
      <?= str_replace('Grand Total', 'Amount Payable', $grandTotal) ?>
    <?php if( $savings > 0 ) : ?>
      <tr class="total-savings">
        <td class="a-right" colspan="20">
          <div><?= $this->__('You save') ?> <?= $this->helper('checkout')->formatPrice($savings) ?> (<?= $savingsPercent ?>%)</div>
        </td>
      </tr>
    <?php endif; ?>
    </tfoot>
    <tbody>
      <?= $this->renderTotals(); ?>
    </tbody>
  </table>
<?php endif; ?>
