<?php

$geoNoticeCookieName = 'geoNoticeSeen';
$cookies = Mage::getModel('core/cookie');
$visitorCountry = strtoupper(getenv('geoip_country_code')) ?: false;
$allowedCountries = explode(',', Mage::getStoreConfig('general/country/allow'));

if( empty($visitorCountry) || in_array($visitorCountry, $allowedCountries) || $cookies->get($geoNoticeCookieName) === 'dismissed' ) {
  return;
}

$stores = Mage::app()->getStores();
$recommendedStores = [];
$index = 0;
foreach( $stores AS $store ) {
  if( (bool) $store->getIsActive() == FALSE ) continue;

  $storeCountries = Mage::getStoreConfig('general/country/allow', $store->getCode());
  if( strpos($storeCountries, $visitorCountry) === FALSE ) continue;

  $index++;
  $storeCountries = explode(',', $storeCountries);
  $recommendedStores[$store->getCode()] = (object) [
    'name' => $store->getName(),
    'url' => $store->getBaseUrl(),
    'countries' => $storeCountries,
    'count' => count($storeCountries) + $index
  ];
}

uasort($recommendedStores, function($a, $b){ return ( $a->count == $b->count ) ? 0 : ($a->count < $b->count) ? -1 : 1; });

$firstStore = reset($recommendedStores);
$locale = new Zend_Locale('en_US');
$countries = $locale->getTranslationList('Territory', $locale->getLanguage(), 2);
$visitorCountryName = empty($countries[$visitorCountry]) ? $visitorCountry : $countries[$visitorCountry];
$countryData = json_decode(file_get_contents('https://restcountries.eu/rest/v2/alpha/'.$visitorCountry));

if( empty($recommendedStores) ) :
  // No recommended store for this country. Show simple notice that we can't ship to the user
  ?>

  <div class="geoNotice geoNotice-NoStore" style="display:none">
    <div class="geoNoticeWrap">
      <p>Hello! We noticed you're in <?= $visitorCountryName ?>. We're sorry but we cannot ship to your country at this time.</p>
      <button onclick="dismissGeoNotice(this)" type="button" class="button btn-dismiss">Dismiss</button>
    </div>
  </div>

<?php else : ?>

  <div class="geoNotice geoNotice-GoTo" style="display:none">
    <div class="geoNoticeWrap">
      <div class="head">
        <small>Shipping to</small>
        <?php if( !empty($countryData->flag) ) : ?><span class="flag b-lazy" data-src="<?= $countryData->flag ?>"></span><?php endif; ?>
        <span class="country"><?= $visitorCountryName ?>?</span>
      </div>
      <div class="text">Get the best shipping rates, at our <a class="store-link" href="<?= $firstStore->url ?>"><?= $firstStore->name ?> store</a></div>
      <div class="actions">
        <a class="button btn-go" href="<?= $firstStore->url ?>"><?= $this->__('Go to Store') ?></a>
      </div>
      <button onclick="dismissGeoNotice(this)" type="button" class="button btn-dismiss">Dismiss</button>
    </div>
  </div>

<?php endif; ?>

<script>
  var dismissGeoNotice = function(btn){
    Mage.Cookies.set('<?= $geoNoticeCookieName ?>', 'dismissed');
    var geoNoticeDiv = document.querySelector('.geoNotice');
    geoNoticeDiv.parentNode.removeChild(geoNoticeDiv);
  }
</script>
