<?php

$_helper = Mage::helper('ebn_magetheme');

$otherStores = [];
$activeStore = null;
$activeStoreCode = Mage::app()->getStore()->getCode();
$showSwitcher = $_helper->showSwitcher();

$stores = Mage::app()->getStores();
if( count($stores) > 1 && $showSwitcher ) {

  foreach( $stores as $store ) {
    if( ! $store->getIsActive() ) continue;

    $website = $store->getWebsite();
    $websiteStores = 0;
    foreach( $website->getGroups() as $group ) {
      $websiteStores += count($group->getStores());
    }

    $storeData = (object) [
      'name' => $websiteStores > 1 ? $store->getName() : $website->getName(),
      'url' => $store->getBaseUrl(),
      'flag' => $this->getSkinUrl('images/svg-flags/'.$website->getCode().'.svg')
    ];

    if( $activeStoreCode !== $store->getCode() ) {
      $otherStores[$storeData->name] = $storeData;
    } else {
      $activeStore = $storeData;
      continue; // don't show the active store as a switching option
    }
  }

  ksort($otherStores);
?>
<div class="switcher">
  <span class="store-switcher-label"><?= $this->__('Select Store') ?></span>
  <div class="storeSwitcher toggle">
    <button data-toggle="modal" data-target=".storeSwitcher.modal">
      <i class="flag b-lazy" data-src="<?= $activeStore->flag ?>"></i>
      <span><?= $this->escapeHtml($this->__($activeStore->name)) ?></span>
    </button>
  </div>
</div>

<?php }

