<?php

$_helper = Mage::helper('ebn_magetheme');

$otherStores = [];
$activeStoreCode = Mage::app()->getStore()->getCode();
$showSwitcher = $_helper->showSwitcher();

$stores = Mage::app()->getStores();
if( count($stores) > 1 && $showSwitcher ) {

  foreach( $stores as $store ) {
    $storeHidden = Mage::getStoreConfigFlag('ebnmage/settings/hidestore', $store->getId());
    if( ! $store->getIsActive() || $activeStoreCode == $store->getCode() || $storeHidden ) {
      continue;
    }

    $website = $store->getWebsite();
    $websiteStores = 0;
    foreach( $website->getGroups() as $group ) {
      $websiteStores += count($group->getStores());
    }

    $storeName = $websiteStores > 1 ? $store->getName() : $website->getName();
    $otherStores[$storeName] = (object) [
      'name' => $storeName,
      'url' => $store->getBaseUrl(),
      'flag' => $this->getSkinUrl('images/svg-flags/'.$website->getCode().'.svg')
    ];
  }

  ksort($otherStores);
?>
<div class="storeSwitcher modal fade" tabindex="-1" role="dialog" aria-label="<?= $this->__('Change Country'); ?>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-head">
        <h3><?= $this->__('Change Country') ?></h3>
      </div>
      <div class="modal-body">
        <?php foreach( $otherStores as $store ) { ?>
          <a class="store" href="<?= $store->url ?>">
            <i class="flag" data-flag="<?= $store->flag ?>"></i>
            <span><?= $this->escapeHtml($this->__($store->name)) ?></span>
          </a>
        <?php } ?>
      </div>
    </div><?php // .modal-content ?>
  </div><?php // .modal-dialog ?>
</div><?php // .storeSwitcher.modal ?>

<?php }
