
@import "bootstrap/vars.less";
@import "bootstrap/mixins.less";

* { .box-sizing(border-box); }
*::before,
*::after { .box-sizing(border-box); }

html { font-size: 10px; background-color: @body-bg; -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { font-family: @font-family-base; font-size: @font-size-base; line-height: @line-height-base; color: @text-color; }

// Reset fonts for relevant elements
input,
button,
select,
textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

a {
  color: @link-color; text-decoration: none;
  &:hover,
  &:focus { color: @link-hover-color; text-decoration: @link-hover-decoration; }
}

figure { margin: 0; }
img { max-width: 100%; height: auto !important; vertical-align: middle; }

hr { margin: @gridGutter 0; border: 0; border-top: 1px solid @hr-border; }

// Only display content to screen readers. See: http://a11yproject.com/posts/how-to-hide-content
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0,0,0,0); border: 0; }

// iOS "clickable elements" fix for role="button". see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"] { cursor: pointer; }

*:last-child { margin-bottom: 0; }
*:first-child { margin-top: 0; }

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: @headings-font-family; font-weight: @headings-font-weight; line-height: @headings-line-height; color: @headings-color; }

h1, .h1,
h2, .h2,
h3, .h3 { margin-top: @line-height-computed; margin-bottom: (@line-height-computed / 2); }

h4, .h4,
h5, .h5,
h6, .h6 { margin-top: (@line-height-computed / 2); margin-bottom: (@line-height-computed / 2); }

h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }


p { margin: 0 0 (@line-height-computed / 2); }

.lead { margin-bottom: @line-height-computed; font-size: floor((@font-size-base * 1.5)); font-weight: 300; line-height: 1.4; }

small,
.small { font-size: 85%; }

.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-muted { color: @text-muted; }

ul,
ol {
  margin-top: 0; margin-bottom: (@line-height-computed / 2);
  ul, ol { margin-bottom: 0; }
}
.list-unstyled { padding: 0; list-style: none; }
.list-inline {
  .list-unstyled(); font-size: 0;
  > li { display: inline-block; font-size: @font-size-base; }
}

dl { margin-top: 0; margin-bottom: @line-height-computed; }
dt,
dd { line-height: @line-height-base; }
dt { font-weight: bold; }
dd { margin-left: 0; }

abbr[title] { cursor: help; border-bottom: 1px dotted @abbr-border-color; }

blockquote {
  padding: (@line-height-computed / 2) @line-height-computed; margin: 0 0 @line-height-computed; font-size: @blockquote-font-size; border-left: 5px solid @blockquote-border-color;
  footer {
    display: block; font-size: @font-size-base; line-height: @line-height-base; color: @blockquote-small-color;
    &:before { content: '\2014 \00A0'; }
  }
}

address { margin-bottom: @line-height-computed; font-style: normal; line-height: @line-height-base; }


// Grid system
.container { .container-fixed(); max-width: @container-lg; }
.row { .make-row(); }
.make-grid-columns();
.make-grid(xs);
@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}
@media (min-width: @screen-md-min) {
  .make-grid(md);
}
@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}


// Tables
caption { padding-top: @table-cell-padding; padding-bottom: @table-cell-padding; color: @text-muted; text-align: left; }
th { text-align: left; }

table,
.table {
  width: 100%; max-width: 100%; margin-bottom: @line-height-computed;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td { padding: @table-cell-padding; line-height: @line-height-base; vertical-align: top; border-top: 1px solid @table-border-color; }
    }
  }
  > thead > tr > th { vertical-align: bottom; border-bottom: 1px solid @table-border-color; }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td { border-top: 0; }
    }
  }
  > tbody + tbody { border-top: 1px solid @table-border-color; }
}


// Condensed table w/ half padding
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td { padding: @table-condensed-cell-padding; }
    }
  }
}




// Responsive tables. Wrap tables in `.table-responsive` to enable horizontal scrolling. Only applies <768px
.table-responsive {
  overflow-x: auto;
  @media screen and (max-width: @screen-xs-max) {
    width: 100%; margin-bottom: (@line-height-computed * 0.75); overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid @table-border-color;
    // Tighten up spacing
    > .table {
      margin-bottom: 0;
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td { white-space: nowrap; }
        }
      }
    }
  }
}






/* -------------------------------------------------- */
/* !- Print Styles */

@media print {
  *,
  *:before,
  *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }

  a,
  a:visited { text-decoration: underline; }

  pre,
  blockquote { border: 1px solid #999; page-break-inside: avoid; }

  thead { display: table-header-group;}

  tr,
  img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  p,
  h2,
  h3 { orphans: 3; widows: 3; }

  h2,
  h3 { page-break-after: avoid; }

  // Bootstrap components
  .no-print { display: none; }

  .table {
    border-collapse: collapse !important;
    td,
    th { background-color: #fff !important; }
  }
}
