<?php

  $websiteCode = Mage::app()->getWebsite()->getCode();
  $storeCode = Mage::app()->getStore()->getCode();
  $locale = Mage::app()->getLocale()->getLocaleCode();
  $localeParts = explode('_', $locale);
  $baseUrl = $this->getUrl('');
  $currentUrl = $this->getUrl('*/*/*', array('_current'=>true, '_use_rewrite'=>true));
  $fullActionName = Mage::app()->getFrontController()->getAction()->getFullActionName();
  $host = parse_url($currentUrl, PHP_URL_HOST);
  $bodyClass = $this->getBodyClass();
  $themePath = rtrim( Mage::getDesign()->getSkinBaseDir(), '/\\').'/';
  $uris = explode('/', trim($themePath, '/'));
  $skinName = end($uris);

  // This file may be included by other layout files in which case layoutCols would already be set
  if( empty($layoutCols) ) {
    $layoutCols = 'col-none';
  }

  // Build HTML Classes list
  $htmlClasses = array('tpl-1col');
  $htmlClasses[] = 'l-'.$layoutCols;
  $htmlClasses[] = 'skin-'.$skinName;
  $htmlClasses[] = str_replace('.', '-', $host);
  $htmlClasses[] = 'website-'.$websiteCode;
  $htmlClasses[] = 'store-'.$storeCode;
  $htmlClasses[] = 'locale-'.strtolower(str_replace('_', '-', $locale));
  $htmlClasses[] = 'localeLang-'.strtolower($localeParts[0]);
  $htmlClasses[] = 'localeCountry-'.strtolower($localeParts[1]);
  $htmlClasses[] = ($baseUrl == $currentUrl) ? 'isHome' : 'notHome'; // HomePage Test as used in Mage_Page_Block_Html_Header
  $htmlClasses[] = $fullActionName;
  $htmlClasses[] = 'no-js';

  $currentCategory = Mage::registry('current_category');
  if( 'catalog_category_view' == $fullActionName && ! empty($currentCategory) ) {
    $htmlClasses[] = 'categ-'.$currentCategory->getId();
  }

  $currentProduct = Mage::registry('current_product');
  if( 'catalog_product_view' == $fullActionName && ! empty($currentProduct) ) {
    $htmlClasses[] = 'prod-'.$currentProduct->getId();
  }

  if( 'cms_page_view' == $fullActionName ) {
    $htmlClasses[] = 'cms-'.Mage::getSingleton('cms/page')->getId();
  }


  $colLeft = false;
  $colRight = false;
  switch($layoutCols){
    case 'col-left':
      $colClass = 'col2-left-layout';
      $colLeft = true;
      break;
    case 'col-right':
      $colClass = 'col2-right-layout';
      $colRight = true;
      break;
    default:
      $colClass = 'col1-layout';
  }
?>
<!DOCTYPE html>
<html lang="<?= $this->getLang(); ?>" id="top" class="<?= implode(' ', $htmlClasses) ?>">
<head>
  <?= $this->getChildHtml('head') ?>
</head>
<body class="<?= $bodyClass ?>">
  <div class="after-body-start">
    <?= $this->getChildHtml('after_body_start') ?>
  </div>
  <div class="wrapper">
    <?= $this->getChildHtml('global_notices') ?>
    <div class="page">

      <?= $this->getChildHtml('header') ?>

      <div class="global-messages"><?= $this->getChildHtml('global_messages') ?></div>

      <?= $this->getChildHtml('header_after') ?>
      <div class="main-container <?= $colClass ?>">
        <?= $this->getChildHtml('breadcrumbs') ?>
        <div class="main container">
          <?php if( ! empty($colLeft) ) { ?>
            <div class="col-left"><?= $this->getChildHtml('left') ?></div>
          <?php } ?>

          <div class="col-main">
            <?= $this->getChildHtml('content') ?>
          </div>

          <?php if( ! empty($colRight) ) { ?>
            <div class="col-right"><?= $this->getChildHtml('right') ?></div>
          <?php } ?>
        </div>
      </div>
      <?= $this->getChildHtml('footer_before') ?>
      <?= $this->getChildHtml('footer') ?>

    </div><?php // .page ?>
  </div><?php // .wrapper ?>

  <?= $this->getChildHtml('global_cookie_notice') ?>
  <?= $this->getChildHtml('before_body_end') ?>
  <?= $this->getAbsoluteFooter() ?>

</body>
</html>

