<!DOCTYPE html>
<html lang="<?= $this->getLang(); ?>" id="top" class="no-js">
<head>
  <?= $this->getChildHtml('head') ?>
</head>
<body class="page-empty <?= $this->getBodyClass() ? $this->getBodyClass() : '' ?>">
  <div class="after-body-start">
    <?= $this->getChildHtml('after_body_start') ?>
  </div>

  <div class="wrapper">
    <div class="page">
      <div class="global-messages"><?= $this->getChildHtml('global_messages') ?></div>
      <div class="main-container">
        <div class="main container">
          <div class="col-main">
            <?= $this->getChildHtml('content') ?>
          </div>
        </div>
      </div>
    </div>
  </div>

  <?= ''; //$this->getChildHtml('before_body_end') ?>
  <?= $this->getAbsoluteFooter() ?>
</body>
</html>
