<!DOCTYPE html>
<html lang="<?= $this->getLang(); ?>" id="top" class="no-js">
<head>
  <?= $this->getChildHtml('head') ?>
</head>
<body class="page-popup <?= $this->getBodyClass() ? $this->getBodyClass() : '' ?>">
  <div>
    <?= $this->getChildHtml('after_body_start') ?>

    <?= $this->getChildHtml('content') ?>
    <?= $this->getChildHtml('before_body_end') ?>
  </div>
  <?= $this->getAbsoluteFooter() ?>
</body>
</html>
