<?php
  $_item = $this->getItem();
  $isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
  $canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
  $pdpUrl = $this->hasProductUrl() ? $this->getProductUrl() : '#0';
?>
<li class="item">

  <a href="<?= $pdpUrl ?>" class="product-image">
    <img src="<?= $this->getProductThumbnail()->resize(100, 100); ?>" />
  </a>

  <div class="product-details">
    <p class="product-name">
      <a href="<?= $pdpUrl ?>"><?= $this->escapeHtml($this->getProductName()) ?></a>
    </p>

    <table class="info-wrapper">
      <tbody>
        <tr>
          <th><?= $this->getQty()?> &times; </th>
          <td>
            <?php if ($canApplyMsrp): ?>

              <span class="map-cart-sidebar-item"><?= $this->__('See price before order confirmation.'); ?></span>

            <?php else: ?>

              <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                  <?= $this->__('Excl. Tax'); ?>:
                <?php endif; ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                  <?= $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                <?php else: ?>
                  <?= $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                <?php endif; ?>
                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                  <br />
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                    <small>
                      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
                      <?php endforeach; ?>
                    </small>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                    <?php endforeach; ?>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                    <small>
                      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                      <?php endforeach; ?>
                    </small>
                  <?php endif; ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                    <span class="nobr"><?= Mage::helper('weee')->__('Total'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                  <?php endif; ?>
                <?php endif; ?>
              <?php endif; ?>



              <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                  <br /><?= $this->__('Incl. Tax'); ?>:
                <?php endif; ?>
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                  <?= $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
                <?php else: ?>
                  <?= $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                <?php endif; ?>
                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                  <br />
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                    <small>
                      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                      <?php endforeach; ?>
                    </small>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><small><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span>
                    <?php endforeach; ?>
                  <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                    <small>
                      <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                        <span class="nobr"><?= $tax['title']; ?>: <?= Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                      <?php endforeach; ?>
                    </small>
                  <?php endif; ?>
                  <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                    <span class="nobr"><?= Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?= $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
                  <?php endif; ?>
                <?php endif; ?>
              <?php endif; ?>

            <?php endif; //Can apply MSRP ?>
          </td>
        </tr>
      </tbody>
    </table>


<?php /*

    <?php if ($isVisibleProduct): ?>
    <a href="<?= $this->getConfigureUrl() ?>" title="<?= Mage::helper('core')->quoteEscape($this->__('Edit item')) ?>" class="btn-edit">
      <?= $this->__('Edit item')?>
    </a>
      |
      <?php if (!$this->isOnCheckoutPage()): ?>
        <a href="<?= $this->getAjaxDeleteUrl() ?>" title="<?= Mage::helper('core')->quoteEscape($this->__('Remove This Item')) ?>"
           data-confirm="<?= $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>"
           class="remove">
          <?= $this->__('Remove Item') ?>
        </a>
      <?php else: ?>
        <span><?= $this->__('Remove Item') ?></span>
      <?php endif; ?>
    <?php endif ?>

*/ ?>


    <?php if ($_options = $this->getOptionList()):?>
    <div class="truncated">
      <div class="truncated_full_value">
      <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
        <dt><?= $this->escapeHtml($_option['label']) ?></dt>
        <dd>
          <?php if (is_array($_option['value'])): ?>
          <?= nl2br(implode("\n", $_option['value'])) ?>
          <?php else: ?>
          <?= $_option['value'] ?>
          <?php endif; ?>
        </dd>
        <?php endforeach; ?>
      </dl>
      </div>
    <a href="#" onclick="return false;" class="details"><?= $this->__('Details') ?></a>
    </div>
    <?php endif; ?>

  </div>
</li>
