<?php
/**
 * Shopping cart template
 * @var $this Mage_Checkout_Block_Cart
 */

$_priceDisplay = ($this->helper('tax')->displayCartBothPrices()) ? 'display-both-prices' : 'display-single-price';
$mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1);
$zeroPrice = strip_tags(Mage::helper('checkout')->formatPrice(0));
$free = '<span class="free">'.$this->__('Free').'</span>';

?>
<div class="page-title title-buttons">
  <h1><?= $this->__('Shopping Cart') ?></h1>
</div>

<?= $this->getMessagesBlock()->toHtml() ?>

<div class="cart <?= $_priceDisplay; ?>">
  <?= $this->getChildHtml('form_before') ?>
  <form action="<?= $this->getFormActionUrl() ?>" method="post">
    <?= $this->getBlockHtml('formkey'); ?>
    <table id="shopping-cart-table" class="cart-table data-table">
      <thead>
        <tr>
          <th rowspan="<?= $mergedCells; ?>"><?= $this->__('Product') ?></th>
          <th rowspan="<?= $mergedCells; ?>">&nbsp;</th>
          <th class="a-center cart-price-head" colspan="<?= $mergedCells; ?>"><?= $this->__('Price') ?></th>
          <th rowspan="<?= $mergedCells; ?>" class="a-center"><?= $this->__('Qty') ?></th>
          <th class="a-center cart-total-head" colspan="<?= $mergedCells; ?>"><?= $this->__('Subtotal') ?></th>
          <th class="a-center" rowspan="<?= $mergedCells; ?>">&nbsp;</th>
        </tr>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <tr>
          <th class="a-center cart-price-head"><?= $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
          <th class="a-center cart-price-head"><?= $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
          <th class="a-center cart-total-head"><?= $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
          <th class="a-center cart-total-head"><?= $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
        </tr>
        <?php endif; ?>
      </thead>
<?php /*
      <tfoot>
        <tr>
          <td colspan="50" class="a-right cart-footer-actions">
            <button type="submit" name="update_cart_action" data-cart-item-update value="update_qty" class="button2 btn-update">
              <span><span><?= $this->__('Apply Quantities'); ?></span></span>
            </button>

            <?php if($this->getContinueShoppingUrl()): ?>
              <button type="button" class="button2 btn-continue" onclick="setLocation('<?= Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>')">
                <span><span><?= $this->__('Continue Shopping') ?></span></span>
              </button>
            <?php endif; ?>
          </td>
        </tr>
      </tfoot>
*/ ?>
      <tbody>
      <?php foreach($this->getItems() as $_item): ?>
        <?= $this->getItemHtml($_item) ?>
      <?php endforeach ?>
      </tbody>
    </table>

    <?= $this->getChildHtml('shopping.cart.table.after'); ?>
  </form>

  <div class="cart-summary">
    <div class="cart-totals-wrapper">
      <div class="cart-totals">
      <?php
        $totals = $this->getChildHtml('totals');
        $shipAndHandle = $this->__('Shipping & Handling');
        $ship = Mage::helper('sales')->__('Shipping');
        $totals = str_replace($shipAndHandle, $ship, $totals);
        $totals = preg_replace("/($ship) \((.*?) - (.*?)\)/", "$1 ($2)<br/><small>$3</small>", $totals);
        $totals = str_replace(' (Free Shipping)', '', $totals);
        echo str_replace($zeroPrice, $free, $totals);
      ?>

        <?php if(!$this->hasError()): ?>
        <ul class="checkout-types bottom">
        <?php foreach ($this->getMethods('methods') as $method): ?>
          <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
          <li class="method-<?= preg_replace("/[^_a-zA-Z0-9-]/", '-', $method); ?>"><?= $methodHtml; ?></li>
          <?php endif; ?>
        <?php endforeach; ?>
        </ul>
        <?php endif; ?>
      </div>
    </div>

    <div class="cart-forms">
      <?= $this->getChildHtml('checkout_cart_widget') ?>
      <?= $this->getChildHtml('checkout.cart.extra') ?>

      <?php if( ! $this->getIsVirtual() ) :
        echo str_replace($zeroPrice, $free, $this->getChildHtml('shipping'));
      endif; ?>

      <?= $this->getChildHtml('coupon') ?>
    </div>
  </div>
</div>

<div class="cart-footer">
  <?= $this->getChildHtml('crosssell') ?>
</div>
