
<div class="page-title">
  <div class="success-check">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
      <path d="M500 10C229.4 10 10 229.4 10 500s219.4 490 490 490 490-219.4 490-490S770.6 10 500 10zm0 910C268 920 80 732 80 500S268 80 500 80s420 188 420 420-188 420-420 420z"/><path d="M768.8 318.7c-13.7-13.7-35.8-13.7-49.5 0L430.5 607.6 280.4 457.5c-13.7-13.7-35.8-13.7-49.5 0l-.2.2c-13.7 13.7-13.7 35.8 0 49.5l174.1 174.1c8.7 8.7 21 11.9 32.2 9.5 7.2-1 14.1-4.3 19.7-9.9l312.4-312.4c13.7-13.7 13.7-35.8 0-49.5l-.3-.3z"/>
    </svg>
  </div>
  <h1><?= $this->__('Your order has been received.') ?></h1>
</div>

<?= $this->getMessagesBlock()->toHtml() ?>

<h2 class="sub-title"><?= $this->__('Thank you for your purchase!') ?></h2>

<?php if ($this->getOrderId()) { ?>
  <?php
    $orderNum = '<span class="orderNum">'.$this->escapeHtml($this->getOrderId()).'</span>';
    if ($this->getCanViewOrder()) {
      $orderNum = sprintf('<a class="orderNum" href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()));
    }
  ?>

  <p class="your-order"><?= $this->__('Your order # is: %s.', $orderNum) ?></p>
  <p class="email-sent-notice"><?= $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>

  <?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) { ?>
    <p>
      <?php //$this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $this->getPrintUrl()) ?>
      <?= $this->getChildHtml() ?>
    </p>
  <?php } ?>
<?php } ?>

<?php if ($this->getAgreementRefId()) { ?>
  <p><?= $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
<?php } ?>

<?php if ($profiles = $this->getRecurringProfiles()) { ?>
  <p><?= $this->__('Your recurring payment profiles:'); ?></p>
  <ul class="disc">
  <?php foreach($profiles as $profile) { ?>
    <?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
    <li><?= $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
  <?php } ?>
  </ul>
<?php } ?>

<div class="buttons-set">
  <button type="button" class="button" onclick="window.location='<?= $this->getUrl() ?>'">
    <span><span><?= $this->__('Continue Shopping') ?></span></span>
  </button>
</div>
