<?php
/**
 * Grouped product data template
 * @see Mage_Catalog_Block_Product_View_Media
 * @see Mage_Catalog_Block_Product_View_Type_Grouped
 */


$this->setPreconfiguredValue();
$_product = $this->getProduct();
$_associatedProducts = $this->getAssociatedProducts();
$_associatedProductsCount = count($_associatedProducts);
$isBuyable = $_product->isSaleable();

?>
<?= $this->getChildHtml('product_type_data_extra') ?>

<?php if( $isBuyable && $_associatedProductsCount === 0) : ?>
  <div class="grouped grouped-items-no-results">
    <?= $this->__('No options of this product are available.') ?>
  </div>

<?php elseif( $isBuyable && $_associatedProductsCount === 1 ) : ?>
  <div class="grouped grouped-single">
  <?php foreach ($_associatedProducts as $_item): ?>
    <?php if( ! $_item->isSaleable() ) : ?>
      <span class="out-of-stock"><?= $this->__('Out of stock') ?></span>
    <?php else: ?>
      <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
      <div class="qty-wrapper">
        <?= $this->getPriceHtml($_item, true) ?>
        <label for="super_group_<?= $_item->getId() ?>" class="qty-label"><?= $this->__('Qty:') ?></label>
        <input id="super_group_<?= $_item->getId() ?>" type="text" pattern="\d*(\.\d+)?" name="super_group[<?= $_item->getId() ?>]" maxlength="12" value="<?= $_item->getQty() * 1 ?>" title="<?= Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
      </div>
      <?= $this->getTierPriceHtml($_item) ?>
    <?php endif; ?>
  <?php endforeach; ?>
  </div>

<?php elseif( $isBuyable ) : ?>
  <div class="grouped grouped-items-table-wrapper">
    <table class="data-table grouped-items-table" id="super-product-table">
      <col />
      <col />
      <col />
      <tbody>
      <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
          <td class="image">
            <img class="thumbnail" width="80" src="<?= $this->helper('catalog/image')->init($_item, 'thumbnail')->constrainOnly(true)->resize(160, 160); ?>" alt="<?= $this->escapeHtml($this->getImageLabel()) ?>" />
          </td>
          <td class="name">
            <div class="product-name"><?= $this->escapeHtml($_item->getName()) ?></div>
            <div class="qty-wrapper">
              <?php if ($this->getCanShowProductPrice($_product) && $this->getCanShowProductPrice($_item)): ?>
                <?= $this->getPriceHtml($_item, true) ?>
              <?php endif; ?>
            <?php if ($_item->isSaleable()) : ?>
              <label for="super_group_<?= $_item->getId() ?>" class="qty-label"><?= $this->__('Qty:') ?></label>
              <input id="super_group_<?= $_item->getId() ?>" type="text" pattern="\d*(\.\d+)?" name="super_group[<?= $_item->getId() ?>]" maxlength="12" value="<?= $_item->getQty() * 1 ?>" title="<?= Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
            <?php else: ?>
              <span class="out-of-stock"><?= $this->__('Out of stock') ?></span>
            <?php endif; ?>
            </div>
            <?= $this->getTierPriceHtml($_item) ?>
          </td>
        </tr>
      <?php endforeach; ?>
      </tbody>
    </table>
  </div>

<?php endif; ?>
