<?php

$_product = $this->getProduct();

?>
<?php if ($this->displayProductStockStatus()): ?>
  <?php if ($_product->isAvailable()) : ?>
    <?php // dont show anything ?>
  <?php else: ?>
    <p class="availability out-of-stock">
      <span class="label"><?= $this->helper('catalog')->__('Availability:') ?></span>
      <span class="value"><?= $this->helper('catalog')->__('Out of stock') ?></span>
    </p>
  <?php endif; ?>
<?php endif; ?>
