<?php

$_product = $this->getProduct();
$_associatedProducts = $this->getAssociatedProducts();
$_hasAssociatedProducts = count($_associatedProducts) > 0;

?>
<?php if ($this->displayProductStockStatus()): ?>
  <?php if($_product->isAvailable() && $_hasAssociatedProducts): ?>
    <?php // dont show anything ?>
  <?php else: ?>
    <p class="availability out-of-stock">
      <span class="label"><?= $this->helper('catalog')->__('Availability:') ?></span>
      <span class="value"><?= $this->helper('catalog')->__('Out of stock') ?></span>
    </p>
  <?php endif; ?>
<?php endif; ?>
