<div class="block block-subscribe">
  <div class="block-content">
    <div class="block-header">
      <label for="newsletter"><?= $this->__('Subscribe our Newsletter:') ?></label>
    </div>
    <div class="form-wrap">
      <form action="<?= $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="input-box">
          <input type="email" name="email" id="newsletter" class="input-text required-entry validate-email" placeholder="<?= $this->__('Email address') ?>..." autocapitalize="off" autocorrect="off" spellcheck="false" />
        </div>
        <div class="actions">
          <button type="submit" class="button btn-newsletter">
            <span><?= $this->__('Subscribe') ?></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
  </script>
</div>
