<?php
  $_productCollection=$this->getLoadedProductCollection();
  $_collectionSize = $_productCollection->count();
  $_helper = $this->helper('catalog/output');
  $_hImg = $this->helper('catalog/image');
  $_imgSize = 1000;
?>
<?php if( ! $_collectionSize ) : ?>
  <p class="note-msg"><?= $this->__('No products found.') ?></p>
<?php else: ?>
<div class="category-products">
  <div class="toolbar-top"><?= $this->getToolbarHtml() ?></div>

  <?php // List mode ?>
  <?php if( $this->getMode() != 'grid' ) : ?>

  <ol class="products-list" id="products-list">
  <?php foreach ($_productCollection as $_product) : ?>
    <?php
    // Load same image used on PDP. File size increases a bit, but when PDP opens image is already cached.
      $_product->load('image');
      $prodUrl = $_product->getProductUrl();
    ?>

    <li class="item">

      <a href="<?= $prodUrl ?>" class="product-image">
        <img id="product-collection-image-<?= $_product->getId(); ?>"
           src="<?= $_hImg->init($_product, 'image')->keepFrame(false)->resize($_imgSize); ?>"
           alt="<?= $this->stripTags($this->getImageLabel($_product, 'image'), null, true) ?>" />
      </a>

      <div class="product-shop">
        <div class="f-fix">
          <div class="product-primary">
            <h2 class="product-name">
              <a href="<?= $prodUrl ?>"><?= $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
            </h2>
            <?php if($_product->getRatingSummary()): ?>
            <?= $this->getReviewsSummaryHtml($_product) ?>
            <?php endif; ?>
            <?php
            // Provides extra blocks on which to hang some features for products in the list
            if ($this->getChild('name.after')) {
              $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
              foreach ($_nameAfterChildren as $_nameAfterChildName) {
                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                $_nameAfterChild->setProduct($_product);
                echo $_nameAfterChild->toHtml();
              }
            }
            ?>
          </div>
          <div class="product-secondary">
            <?= $this->getPriceHtml($_product, true) ?>
          </div>
          <div class="product-secondary">
            <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
              <p class="action"><button type="button" title="<?= $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?= $this->getAddToCartUrl($_product) ?>')"><span><span><?= $this->__('Add to Cart') ?></span></span></button></p>
            <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
              <p class="action"><a title="<?= $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?= $prodUrl ?>"><?= $this->__('View Details') ?></a></p>
            <?php else: ?>
              <p class="action availability out-of-stock"><span><?= $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            <ul class="add-to-links">
              <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <li><a href="<?= $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?= $this->__('Add to Wishlist') ?></a></li>
              <?php endif; ?>
              <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                <li><span class="separator">|</span> <a href="<?= $_compareUrl ?>" class="link-compare"><?= $this->__('Add to Compare') ?></a></li>
              <?php endif; ?>
            </ul>
          </div>
          <div class="desc std">
            <?= $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
            <a href="<?= $prodUrl ?>" class="link-learn"><?= $this->__('Learn More') ?></a>
          </div>
        </div>
      </div>
    </li>
  <?php endforeach; ?>
  </ol>

  <?php else: ?>

  <?php // Grid Mode ?>

  <ul class="products-grid">
    <?php foreach ($_productCollection as $_product): ?>
      <?php
      // Load same image used on PDP. File size increases a bit, but when PDP opens image is already cached.
        $_product->load('image');
        $prodUrl = $_product->getProductUrl();

        $oldPrice = $_product->getPrice(); // product base price
        $promoPrice = $_product->getFinalPrice(); // product current price

        if( $_product->getTypeId() === 'grouped' ) {
          $associatedProducts = $_product->getTypeInstance(true)->getAssociatedProducts($_product);
          if( count($associatedProducts) === 1 ) {
            $child = reset($associatedProducts);
            $oldPrice = $child->getPrice();
            $promoPrice = $child->getFinalPrice();
          }
        }

        $oldPrice = round(floatval($oldPrice), 2);
        $promoPrice = round(floatval($promoPrice), 2);
        $discount = ($oldPrice == 0) ? 0 : round(100 * ($oldPrice - $promoPrice) / $oldPrice, 0);
        $prodCssClass = ($promoPrice < $oldPrice) ? ' on-sale' : '';

        $isBuyable = ( ! $_product->canConfigure() && $_product->isSaleable() ) || $_product->isAvailable(); //($_product->getStockItem() && $_product->getStockItem()->getIsInStock());
        $prodCssClass.= $isBuyable ? ' buyable' : ' not-buyable';

      ?>

      <li class="item" data-oldprice="<?= $oldPrice ?>" data-promoprice="<?= $promoPrice ?>">
        <article class="item-wrap <?= $prodCssClass ?>">
          <a href="<?= $prodUrl ?>" class="product-image">
            <span class="img b-lazy" data-src="<?= $_hImg->init($_product, 'image')->resize($_imgSize); ?>"></span>
            <?php if( $promoPrice < $oldPrice ) : ?>
              <div class="discount">
                <span class="percent"><?= $discount.'%' ?></span> <span class="off">Off</span>
              </div>
            <?php endif; ?>
          </a>
          <div class="product-info">
            <h2 class="product-name">
              <a href="<?= $prodUrl ?>"><?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
            </h2>

            <?= $this->getPriceHtml($_product, true) ?>

            <div class="actions">
              <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                <button type="button" title="<?= $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?= $this->getAddToCartUrl($_product) ?>')"><span><span><?= $this->__('Add to Cart') ?></span></span></button>
              <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                <a title="<?= $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?= $prodUrl ?>"><?= $this->__('View Details') ?></a>
              <?php else: ?>
                <p class="availability out-of-stock"><span><?= $this->__('Out of stock') ?></span></p>
              <?php endif; ?>
            </div>
          </div><?php // .product-info ?>
          </article>
      </li>
    <?php endforeach ?>
  </ul>

  <?php endif; ?>

  <div class="toolbar-bottom"><?= $this->getToolbarHtml() ?></div>
</div>
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached
if ($this->getChild('after')) {
  $_afterChildren = $this->getChild('after')->getSortedChildren();
  foreach ($_afterChildren as $_afterChildName) {
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    //set product collection on after blocks
    $_afterChild->setProductCollection($_productCollection);
    echo $_afterChild->toHtml();
  }
}
?>
