<?php
  $_productCollection = $this->getLoadedProductCollection();
  $_collectionSize = $_productCollection->count();
  $_currentCategory = Mage::getModel('catalog/category')->load($this->getCategoryId());
  $_helper = $this->helper('catalog/output');
  $_hImg = $this->helper('catalog/image');
  $_imgSize = 1000;
?>

<?php if( $_currentCategory->getIsActive() && $_collectionSize > 0) { ?>

  <div class="page-title category-title">
    <h2 class="h1"><?= $_helper->categoryAttribute($_currentCategory, $_currentCategory->getName(), 'name') ?></h2>
  </div>

<?php if($_description=$_currentCategory->getDescription()): ?>
  <div class="category-description std">
    <?= $_helper->categoryAttribute($_currentCategory, $_description, 'description') ?>
  </div>
<?php endif; ?>

<div class="category-products">
  <ul class="products-grid">
  <?php foreach ($_productCollection as $_product) { ?>
    <?php
    // Load same image used on PDP. File size increases a bit, but when PDP opens image is already cached.
      $_product->load('image');
      $prodUrl = $_product->getProductUrl();

      $oldPrice = $_product->getPrice(); // product base price
      $oldPrice = round(floatval($oldPrice), 2);
      $promoPrice = $_product->getFinalPrice(); // product current price
      $promoPrice = round(floatval($promoPrice), 2);
      $discount = ($oldPrice == 0) ? 0 : round(100 * ($oldPrice - $promoPrice) / $oldPrice, 0);
      $prodCssClass = ($promoPrice < $oldPrice) ? ' on-sale' : '';

      $isBuyable = ( ! $_product->canConfigure() && $_product->isSaleable() ) || $_product->isAvailable(); //($_product->getStockItem() && $_product->getStockItem()->getIsInStock());
      $prodCssClass.= $isBuyable ? ' buyable' : ' not-buyable';
  ?>

    <li class="item">
      <article class="item-wrap <?= $prodCssClass ?>">
        <a href="<?= $prodUrl ?>" class="product-image">
          <span class="img b-lazy" data-src="<?= $_hImg->init($_product, 'image')->resize($_imgSize); ?>"></span>
          <?php if( $promoPrice < $oldPrice ) : ?>
            <div class="discount">
              <span class="percent"><?= $discount.'%' ?></span> <span class="off">Off</span>
            </div>
          <?php endif; ?>
        </a>
        <div class="product-info">
          <h3 class="product-name">
            <a href="<?= $prodUrl ?>"><?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
          </h3>
          <?= $this->getPriceHtml($_product, true) ?>

          <div class="actions">
          <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
            <button type="button" class="button btn-cart" onclick="setLocation('<?= $this->getAddToCartUrl($_product) ?>')"><span><span><?= $this->__('Add to Cart') ?></span></span></button>
          <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
            <a class="button" href="<?= $prodUrl ?>"><?= $this->__('View Details') ?></a>
          <?php else: ?>
            <p class="availability out-of-stock"><span><?= $this->__('Out of stock') ?></span></p>
          <?php endif; ?>
          </div>
        </div><?php // .product-info ?>
      </article>
    </li>
  <?php } ?>
  </ul>


</div>
<?php }

// Provides a block where additional page components may be attached
if ($this->getChild('after')) {
  $_afterChildren = $this->getChild('after')->getSortedChildren();
  foreach ($_afterChildren as $_afterChildName) {
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    //set product collection on after blocks
    $_afterChild->setProductCollection($_productCollection);
    echo $_afterChild->toHtml();
  }
}
