<?php

$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$ebnmage = $this->helper('ebn_magetheme');
$allowSales = $ebnmage->allowSales();
$showPrices = $ebnmage->showPrices();

if( !$_product->isAvailable() ) {
  $showPrices = false;
}

$oldPrice = $_product->getPrice(); // product base price
$oldPrice = round(floatval($oldPrice), 2);
$promoPrice = $_product->getFinalPrice(); // product current price
$promoPrice = round(floatval($promoPrice), 2);
$discount = ($oldPrice == 0) ? 0 : round(100 * ($oldPrice - $promoPrice) / $oldPrice, 0);
?>
<script type="text/javascript">
  var optionsPrice = new Product.OptionsPrice(<?= $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?= $this->getMessagesBlock()->toHtml() ?></div>
<div class="product-view">
  <div class="product-essential">
    <form action="<?= $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <?= $this->getBlockHtml('formkey') ?>
      <div class="no-display">
        <input type="hidden" name="product" value="<?= $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
      </div>

      <div class="product-img-box">
        <div class="product-name">
          <h1><?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
        <?= $this->getChildHtml('media') ?>
      </div>

      <div class="product-shop">
        <div class="product-name">
          <span class="h1"><?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
        </div>

        <?php if ($_product->getShortDescription()):?>
          <div class="short-description">
          <?php
            $shortDesc = $_product->getShortDescription();
            $shortDescClean = strip_tags($shortDesc);
            if ( $shortDesc === $shortDescClean ) {
              $shortDesc = nl2br($shortDesc);
            }
          ?>
            <div class="std"><?= $_helper->productAttribute($_product, $shortDesc, 'short_description') ?></div>
          </div>
        <?php endif;?>

      <?php if( $allowSales && $_product->isSaleable() && $this->hasOptions() ) : ?>
        <div class="pdp-container1"><?= $this->getChildChildHtml('container1', '', true, true) ?></div>
      <?php endif;?>

      <?php if( $showPrices ) { ?>
        <div class="price-info">
          <?= $this->getPriceHtml($_product); ?>
          <?= $this->getChildHtml('bundle_prices') ?>
          <?= $this->getTierPriceHtml() ?>
          <?php if( $promoPrice < $oldPrice ) : ?>
            <div class="discount">
              <span class="percent"><?= $discount.'%' ?></span> <span class="off">Off</span>
            </div>
          <?php endif; ?>
        </div>
      <?php } ?>

        <div class="extra-info">
          <?= $this->getReviewsSummaryHtml($_product, 'default', false); ?>
          <?= $this->getChildHtml('product_type_availability'); ?>
        </div>

        <?= $this->getChildHtml('alert_urls'); ?>

        <div class="pdp-other">
          <?= $this->getChildHtml('other'); ?>
        </div>

        <div class="add-to-cart-wrapper">
          <?= $this->getChildHtml('product_type_data') ?>
          <?= $this->getChildHtml('extrahint') ?>

          <?php if( $allowSales && $_product->isSaleable() && !$this->hasOptions() ) : ?>
            <div class="add-to-box">
              <?= $this->getChildHtml('addtocart') ?>
            </div>
            <div class="add-to-extra">
              <?= $this->getChildHtml('addto') ?>
              <?= $this->getChildHtml('sharing') ?>
              <?= $this->getChildHtml('extra_buttons') ?>
            </div>
          <?php endif; ?>
        </div>

      </div>

      <div class="clearer"></div>
      <?php if( $allowSales && $_product->isSaleable() && $this->hasOptions()):?>
        <?= $this->getChildChildHtml('container2', '', true, true) ?>
      <?php endif;?>
    </form>

  <?php if( $allowSales ) { ?>
    <script type="text/javascript">
    //<![CDATA[
      var productAddToCartForm = new VarienForm('product_addtocart_form');
      productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
          var form = this.form;
          var oldUrl = form.action;

          if (url) {
             form.action = url;
          }
          var e = null;
          try {
            this.form.submit();
          } catch (e) {
          }
          this.form.action = oldUrl;
          if (e) {
            throw e;
          }

          if (button && button != 'undefined') {
            button.disabled = true;
          }
        }
      }.bind(productAddToCartForm);

      productAddToCartForm.submitLight = function(button, url){
        if(this.validator) {
          var nv = Validation.methods;
          delete Validation.methods['required-entry'];
          delete Validation.methods['validate-one-required'];
          delete Validation.methods['validate-one-required-by-name'];
          // Remove custom datetime validators
          for (var methodName in Validation.methods) {
            if (methodName.match(/^validate-datetime-.*/i)) {
              delete Validation.methods[methodName];
            }
          }

          if (this.validator.validate()) {
            if (url) {
              this.form.action = url;
            }
            this.form.submit();
          }
          Object.extend(Validation.methods, nv);
        }
      }.bind(productAddToCartForm);
    //]]>
    </script>
  <?php } // if $allowSales ?>

  </div><?php /* .product-essential */ ?>

  <?php
    $hero = $_product->offsetExists('hero_1');
    if( ! empty($hero) ) { ?>

      <div class="product-heros">
        <?= Mage::helper('cms')->getPageTemplateProcessor()->filter($_product->getData('hero_1')); ?>
      </div>

  <?php } ?>


  <div class="product-collateral">
    <div class="product-collateral-wrap">
  <?php if( $detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml') ) { ?>
    <?php foreach ($detailedInfoGroup as $alias => $html) { ?>
      <div class="product-collateral-block block-<?= $alias ?>">
        <div class="content"><?= $html ?></div>
      </div>
    <?php } ?>
  <?php } ?>
    </div>
  </div>


  <?= $this->getChildHtml('related_products') ?>
  <?= $this->getChildHtml('upsell_products') ?>
  <?= $this->getChildHtml('product_additional_data') ?>

</div>
